/* Stylesheet for Common Elements */
$th-text: #bab6c6;
$td-text: #918e98;
$background: #f5f9fc;
$border: #e7eaef;
$book-color: #b143d6;
$check-color: #47d4a4;
$circle-color: #f11a1a;
$modal:#fff;
// (Form Colors)
$label-color: #0b0984;
$form-border: #dee5ea;
$input-color: #6487b1;
$reset-button: #f4365c;
$save-button:#5e72e3;
$close-button: #f1f4f7;
$resolve-button: #afeed3;
$resolve-color:#44bf89;
$button-color: #fff;
$close-btn-color: #000;
$input-disabled: #e8ecef;
$violet: #993d90;

//Box Shadow
@mixin box-shadow($proprty) {
    -webkit-box-shadow: $proprty;
    box-shadow: $proprty;
}

// Media Queries
$breakpoint-tablet: 768px;
$breakpoint-smallphone:320px;
$breakpoint-phone:700px;

/****************************
button space
 *****************************/
%btn {
    padding: 13px 21px;
    border: none;
    border-radius: 4px;
    font-size: 15px;
    -webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
    box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
    -webkit-transform: translateY(-4px) scale(1.02);
    -moz-transform: translateY(-4px) scale(1.02);
    -ms-transform: translateY(-4px) scale(1.02);
    -o-transform: translateY(-4px) scale(1.02);
    transform: translateY(-4px) scale(1.02);

    &:hover {
        -webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
        box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
        -webkit-transform: translateY(-3px) scale(1.02);
        -moz-transform: translateY(-3px) scale(1.02);
        -ms-transform: translateY(-3px) scale(1.02);
        -o-transform: translateY(-3px) scale(1.02);
        transform: translateY(-3px) scale(1.02);
    }
}

///Icon btn
.icon-btn {
    display: inline-grid;
    background-color: #f8c145;
    color: #000;
    text-decoration: none;
    border-radius: 13px;
    padding: 12px 12px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    text-align: center;
    transition: 0.3s linear all !important;

    >span {
        font-size: 22px;
        vertical-align: middle;
    }

    &:hover {
        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
    }
}

/****************************
 form Space label and Form Control
 *****************************/
%form {
    padding: 1px 0px;
    margin: 10px 5px;

    label {
        font-weight: 500;
        font-size: 15px;
        color: $label-color;
    }

    .form-control {
        font-size: 15px;
        font-weight: 500;
        margin-top: 6px;
        box-sizing: border-box;
        color: $input-color;
        padding: 13px 11px;
        display: block;
        border-radius: 4px;
        width: 100%;
        border: 2px solid $form-border;
    }

    ::placeholder {
        /* Chrome, Firefox, Opera, Safari 10.1+ */
        color: $input-color;
        opacity: 1;
        /* Firefox */
    }

    :-ms-input-placeholder {
        /* Internet Explorer 10-11 */
        color: $input-color;
    }

    ::-ms-input-placeholder {
        /* Microsoft Edge */
        color: $input-color;
    }
}

/****************************
 Table Page Container
 *****************************/
.container {
    padding: 12px 15px;
}

/****************************
 bold font weight
 *****************************/
b {
    font-weight: 600;
    color: #9a98a7;
}

/****************************
 
 Table responive css
 *****************************/
.responsive-table {
    width: 100%;
    overflow-x: auto;

    table {
        text-align: left;

        thead {
            font-weight: 500;
            font-size: 13px;
            background-color: $background;
            color: $th-text;
            text-transform: uppercase;
        }

        tbody {
            font-size: 13px;
            color: $td-text;

            .fas {
                // margin-right: 3px;
                left: 10px;
                position: absolute;
                top: 17px;
            }
        }
    }
}

/****************************
 Table th td css
 *****************************/
.responsive-table th {
    justify-content: center;
    vertical-align: middle !important;
}

.responsive-table td,
.responsive-table th {
    position: relative;
    font-weight: 500 !important;
    border-bottom: 1px solid $border !important;
    border-top: 1px solid $border !important;
    padding: 12px 25px !important;
}

/****************************
 font awesome color
 *****************************/
.fa-book {
    &:before {
        color: $book-color;
    }
}

.fa-check {
    &:before {
        color: $check-color;
    }
}

.fa-circle {
    font-size: 8px;

    &:before {
        color: $circle-color;
    }
}

/****************************
 assignment tr width
 *****************************/
.assignment {
    tr>*:nth-child(1) {
        width: 48%;
    }

    tr>*:nth-child(2) {
        width: 20%;
    }

    tr>*:nth-child(3),
    tr>*:nth-child(4) {
        width: 16%;
    }
}

/****************************
 Result Table
 *****************************/
.results {
    border: 1px solid $border;
}

/****************************
 Support Table
 *****************************/
.support {
    a {
        text-decoration: none;
    }

    ul {
        padding-inline-start: 0px;
        position: relative;

        li {
            font-size: 11px;
            display: inline;
            padding: 8px 8px;
            border-radius: 50%;
            font-weight: 600;
            width: 16px;
            text-align: center;

            &:last-child {
                padding: 7px 7px;
                width: 18px;
                top: -6px;
                right: 14px;
                position: absolute;
            }
        }
    }

    .user1 {
        background-color: #df3ff8;
        color: #000;
    }

    .user2 {
        border: 1px solid #fff;
        background-color: #014d40;
        color: #fff;
    }
}

/****************************
Input Disabled
 *****************************/
input:disabled {
    background: $input-disabled;
}

/****************************
Modal
*****************************/
.modal {
    background-color: $modal;
    header {
        padding: 0px;
        border-bottom: 1px solid $border;
        margin-bottom: 0px;
        h3 {
            color: #5f5d98;
            font-size: 17px;
            font-weight: 600;
            padding: 14px 20px;

            .fas {
                color: #000;
                cursor: pointer;
            }
        }
    }

    .modal-body {
        padding: 20px 20px;

        h4 {
            text-transform: uppercase;
            font-size: 15px;
            color: #2d587d;
            font-weight: 500;
            margin: 9px 0px 19px;
        }

        p {
            margin-bottom: 5px;
            font-size: 16px;
            font-weight: 600;
            color: #98a4ee;
        }

        h5 {
            margin-right: 20px;
            font-size: 17px;
            color: #70718f;
            font-weight: 600;
        }
        .resolve {
            .d-flex {
                align-items: center;
                justify-content: flex-end;
            }
        }
        .d-flex {
            align-items: end;
            justify-content: flex-start;

            >.form-group-left {

                width: 40%;
            }

            >.form-group-right {

                width: 60%;
            }

            >.form-group {
                width: 50%;

                .d-flex {
                    align-items: flex-end;
                }
            }
        }

        .form {
            @extend %form;
        }

        .resolve-label {
            font-size: 13px;
            font-weight: 600;
            text-transform: uppercase;
            padding: 9px 17px;
            border-radius: 54px;
            border: none;
            color: $resolve-color;
            background-color: $resolve-button;
            cursor: pointer;
            transition: 0.3s linear all !important;

            &:hover {
                box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
            }
        }
    }

    footer {
        padding: 20px 12px;

        .d-flex {
            justify-content: flex-end;

            >.button-space-left {
                margin: 0px 12px;
            }

            >.button-space-right {
                margin: 0px 12px;
            }

            .form {
                width: 100%;
                @extend %form;
            }

            .reset-btn {
                @extend %btn;
                color: $button-color;
                background-color: $reset-button;
                cursor: pointer;
            }

            .save-btn {
                @extend %btn;
                color: $button-color;
                background-color: $save-button;
                cursor: pointer;
            }

            .close-btn {
                @extend %btn;
                color: $close-btn-color;
                background-color: $close-button;
                cursor: pointer;
                border: 1px solid #dfe9f3;
            }
        }
    }
}

/************************
 Radio Button
 ***********************/
.radio-inline {
    margin-top: 17px;
    position: relative;
    display: inline-block;
    padding-left: 20px;
    margin-bottom: 0;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}

/**************
Date Input
***************/
input[type="date"i],
input[type="file"i] {
    padding: 11px !important;
}

/**************
Datatable Header Footer
***************/
.dataTables_wrapper {

    .dataTables_length,
    .dataTables_filter,
    .dataTables_info,
    .dataTables_processing,
    .dataTables_paginate {
        color: #413173 !important;
        font-size: 13px;
        margin-bottom: 12px;
        font-weight: 500;
    }

    .dataTables_paginate .paginate_button.current,
    .dataTables_paginate .paginate_button.current:hover {
        color: #fbfbfb !important;
        border: 1px solid #d0c7c7 !important;
        background-color: #5e72e4;
        border-radius: 50%;
        background: #5e72e4 !important;
        padding: 4px 12px !important;
    }

    .dataTables_length select {
        color: #3d4992;
        border: 1px solid #3d4992;
    }

    .dataTables_length {
        float: right !important;
    }

    .dataTables_filter {
        margin-right: 36px;
    }
}


/****************************
 Address Border in Popup
 *****************************/
.address-border {
    margin: 29px 0px;
    border-top: 1px solid $form-border;
}

////// Tickets ///////
.ticket-body {
    border-radius: 4px;
    @include box-shadow(0 33px 38px rgba(222, 222, 222, .6));

    .ticket-box {
        justify-content: space-between;
        align-items: flex-start;
        background-color: #1d354b;
        border-radius: 16px;
        padding: 20px 30px;
        box-sizing: border-box;
        color: #fff;

        .d-flex {
            justify-content: space-between;

            /*profile */
            .username {
                text-align: center;

                h1 {
                    font-size: 24px;
                    line-height: 34px;
                    font-weight: 500;
                    margin-left: 12px;
                    margin-top: 7px;
                }
            }

            /*Ticket */
            .user-name {
                display: inline-flex;

                >span {
                    font-size: 25px;
                    vertical-align: middle;
                    margin-right: 5px;
                }

                h1 {
                    font-size: 24px;
                    line-height: 34px;
                    font-weight: 500;
                    margin-left: 12px;
                    margin-top: 7px;

                    span {
                        font-size: 15px;
                        line-height: 12px;
                        display: block;
                        color: #ddd;
                        text-transform: uppercase;
                    }
                }
            }

            .start-learning {
                justify-content: flex-end;

                h2 {
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 28px;
                    width: 135px;
                }

                .resolve-btn {
                    font-size: 20px;
                    font-weight: 600;
                    padding: 9px 17px;
                    border-radius: 54px;
                    border: none;
                    color: #fff;
                    background-color: #64c0ab;
                    cursor: pointer;
                    transition: 0.3s linear all !important;

                    &:hover {
                        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
                    }
                }
            }
        }
    }

    .ticket-details {
        padding: 50px 25px;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        .d-flex {
            .box-head {
                justify-content: flex-end;
            }
        }
    }

    .ticket-column {
        justify-content: space-between;
        align-items: stretch;
        margin-bottom: 20px;

        .ticket-box-container {
            width: 48%;
            border-radius: 16px;
            margin-bottom: 20px;
            @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));


            .top-box {
                justify-content: space-between;
                background-color: #f4f4f6;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #000;
                border-radius: 16px 16px 0px 0px;
                padding: 0px 35px;
                height: 85px;
            

                h2 {
                    font-size: 20px;
                    text-transform: uppercase;
                }

                .fas {
                    font-size: 20px;
                    color: #fff;
                }

                .info-button {
                    background-color: #f8c145;
                    color: #000;
                    text-decoration: none;
                    border-radius: 18px;
                    padding: 7px 12px;
                    font-size: 14px;
                    line-height: 26px;
                    font-weight: 600;
                    margin-top: 10px;

                    >span {
                        font-size: 16px;
                        vertical-align: middle;
                        margin-right: 4px;
                    }

                    transition: 0.3s linear all !important;

                    &:hover {
                        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
                    }
                }

            }

            .ticket-history {
                height: 172px;
                overflow-y: scroll;

                .ticket-history-box {
                    padding-left: 15px;
                    position: relative;

                    &::before {
                        display: flex;
                        justify-content: center;
                        font-family: "Font Awesome 5 Free";
                        font-weight: 400;
                        align-items: center;
                        content: "\f0eb";
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        border-radius: 100%;
                        width: 34px;
                        height: 34px;
                        font-size: 17px;
                        color: #1aaf6f;
                        background: #b0efd4;
                        z-index: 999;
                    }
                }

                .ticket-history-content {
                    height: 138px;
                    position: relative;
                    padding: 0px 0px 0px 35px;
                    color: #314384;
                    margin-left: auto;
                    border-left: 2px dashed #ddd;
                    

                    .d-flex {
                        padding: 0px 0px 12px;
                        justify-content: space-between;

                        .assigned-btn {
                            background-color: #fde6e0;
                            color: #f00;
                            text-decoration: none;
                            border-radius: 18px;
                            padding: 2px 12px;
                            font-size: 12px;
                            line-height: 26px;
                            font-weight: 600;
                            margin-top: 10px;
                            text-transform: uppercase;
                            transition: 0.3s linear all !important;

                            &:hover {
                                box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
                            }
                        }

                        p {
                            font-size: 14px;
                        }
                    }

                    h3 {
                        font-size: 17px;
                        font-weight: 600;
                    }

                    h5 {
                        font-size: 14px;
                    }
                }
            }

            .inner-boxes {
                justify-content: space-between;
                align-items: stretch;
                padding: 20px;


                .ticket-box-details {
                    width: 100%;
                    padding: 2px;
                    margin-bottom: 8px;
                    box-sizing: border-box;
                    justify-content: space-between;
                    overflow: hidden;


                    .heading {
                        width: 40%;
                    }

                    .content {
                        width: 60%;
                    }

                    h2 {
                        font-size: 19px;
                    }

                    h3 {
                        color: #314384;
                        font-weight: 600;

                        >span {
                            font-size: 22px;
                            vertical-align: middle;
                            margin-right: 9px;
                        }
                    }

                    h4 {
                        font-size: 17px;
                        color: #314384;
                    }

                    h5 {
                        font-weight: 500;
                        font-size: 17px;
                        color: #3e3e77;
                    }

                    .fas {
                        margin-right: 7px;
                        color: #5e72e3;
                    }
                }

                .assigned-head {
                    border-top: 1px solid #ddd;
                }
            }
        }
    }
}

/************** Profile **************/
.profile-body {
    border-radius: 4px;
    @include box-shadow(0 33px 38px rgba(222, 222, 222, .6));

    h3 {
        font-size: 19px;
        color: #1d354b;
        font-weight: 500;
    }

    .profile-box {
        justify-content: space-between;
        align-items: flex-start;
        background-color: #1d354b;
        border-radius: 16px;
        padding: 7px 4px;
        box-sizing: border-box;
        color: #ddd;
        position: relative;
        .icon-btn {
            right: 16px;
            position: absolute;
            top: 16px;
        }
        .d-flex {
            position: relative;
            justify-content: flex-end;

            /*profile */
            .username {
                width: 20%;
                text-align: center;

                img {
                    width: 112px;
                }

                h1 {
                    font-size: 24px;
                    line-height: 34px;
                    font-weight: 500;
                    margin-left: 12px;
                    margin-top: 7px;
                }
            }

            .profile-text {
                padding: 0px 22px;
                width: 76%;

                img {
                    width: 36px;
                    margin-right: 10px;
                }

                .d-flex {
                    justify-content: space-between;

                    .text {
                        width: 50%;
                        display: inline-flex;
                        margin-bottom: 20px;

                        h2 {
                            padding-top: 7px;
                            font-size: 14px;
                        }
                    }
                }

                .profile-name {
                    padding: 40px 0px;

                    .d-flex {
                        justify-content: space-between;

                        .profile-name-text {
                            display: inline-flex;
                            width: 39%;

                            img {
                                width: auto;
                            }
                        }
                    }
                }
            }
        }
    }

    .ticket-details {
        padding: 50px 25px;
        -webkit-transition: 0.4s;
        transition: 0.4s;

        .d-flex {
            .box-head {
                justify-content: flex-end;
            }
        }
    }

    .ticket-column {
        justify-content: space-between;
        align-items: flex-start;
        margin-bottom: 20px;

        .ticket-box-container {
            width: 48%;
            border-radius: 16px;
            margin-bottom: 20px;

            .top-box {
                justify-content: space-between;
                background-color: #f4f4f6;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
                color: #000;
                border-radius: 16px 16px 0px 0px;
                padding: 26px 35px;

                h2 {
                    font-size: 20px;
                }

                .fas {
                    font-size: 20px;
                    color: #000;
                }

                .info-button {
                    background-color: #f8c145;
                    color: #000;
                    text-decoration: none;
                    border-radius: 18px;
                    padding: 7px 12px;
                    font-size: 14px;
                    line-height: 26px;
                    font-weight: 600;
                    margin-top: 10px;
                }
            }

            .ticket-history {
                .ticket-history-content {
                    position: relative;
                    padding: 12px 20px;
                    margin-left: auto;
                    border-bottom: 1px solid #ddd;

                    .d-flex {
                        justify-content: space-between;

                        .assigned-btn {
                            background-color: #fde6e0;
                            color: #f00;
                            text-decoration: none;
                            border-radius: 18px;
                            padding: 2px 12px;
                            font-size: 12px;
                            line-height: 26px;
                            font-weight: 600;
                            margin-top: 10px;
                            text-transform: uppercase;
                        }

                        p {
                            font-size: 14px;
                        }
                    }
                }
            }

            .inner-boxes {
                justify-content: space-between;
                align-items: stretch;
                padding: 20px;

                .fas {
                    font-size: 17px;
                    margin-right: 7px;
                }

                .ticket-box-details {
                    width: 100%;
                    padding: 2px;
                    margin-bottom: 8px;
                    box-sizing: border-box;
                    justify-content: space-between;
                    overflow: hidden;

                    .heading {
                        width: 40%;
                    }

                    .content {
                        width: 60%;
                    }
                }

                .assigned-head {
                    border-top: 1px solid #ddd;
                }
            }

            .profile-experience {
                .d-flex {
                    padding: 12px 0px 0px;
                }

                .fas {
                    color: #ef756a;
                }

                h5 {
                    font-size: 17px;
                    color: #000;
                }

                p {
                    font-size: 15px;

                    span {
                        font-size: 12px;
                    }
                }
            }

            .profile-education {
                .d-flex {
                    position: relative;

                    .left {
                        width: 80%;

                        h5 {
                            font-size: 13px;
                        }
                    }

                    .right {
                        width: 17%;
                    }

                    p {
                        margin-bottom: 11px;
                    }

                    h5 {
                        font-size: 11px;
                        margin-bottom: 8px;
                    }
                }

                .fas {
                    margin-left: -23px;
                    position: absolute;
                    color: #545dac;
                }

            }
        }
    }
}

/****************************
Media Query
 *****************************/
@media (min-device-width: $breakpoint-smallphone) and (max-device-width: $breakpoint-phone) {
    .modal {
        header {
            width:100%;
            h3 {
                width: 100%;
            }
        }
        .modal-body {
            .d-flex {

                .form-group,
                .form-group-left,
                .form-group-right {
                    width: 100%;
                }
            }
        }
    }
    .dataTables_wrapper {
        .dataTables_filter input {
            width: 45%;
        }
    }
    .page-name{
        /*margin-bottom: 20px;*/
    }
    .payment-type {
        margin-top: 8px;
    }
    .support {
        ul {
            li:last-child {
                padding: 8px 8px;
                width: 18px;
                top: 0px;
                right: 11px;
                position: inherit;
            }
        }
    }
    .profile-box {
        .icon-btn {
                right: 18px;
                top: 16px;
            }
    }
    .profile-body {
        .ticket-details {
            padding: 50px 0px;
        }

        .ticket-column {
            .ticket-box-container {
                .top-box {
                    h2 {
                        font-size: 17px;
                    }
                }

                .profile-experience {
                    h5 {
                        font-size: 12px !important;
                    }
                }

                .profile-education {
                    .d-flex {

                        .right,
                        .left {
                            width: 100% !important;
                        }
                    }
                }
            }
        }

        .profile-box {
            .d-flex {
                .username {
                    width: 94% !important;
                }

                .profile-text {
                    padding: 8px !important;
                    width: 94%;

                    .d-flex {
                        .text {
                            width: 100% !important;
                        }
                    }

                    .profile-name {
                        .d-flex {
                            .profile-name-text {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .ticket-column {
            .ticket-box-container {
                width: 100% !important;
            }
        }
    }

    ////Ticket//////
    .ticket-body {
        .ticket-details {
            padding: 50px 0px;
        }

        .ticket-box {
            .d-flex {
                .start-learning {
                    padding-top: 19px !important;

                    h2 {
                        width: 111px;
                        font-size: 15px !important;
                    }

                    .resolve-btn {
                        font-size: 11px !important;
                    }
                }

                .user-name {
                    img {
                        height: 47px;
                    }

                    h1 {
                        line-height: 21px;
                        font-size: 15px !important;
                    }
                }
            }
        }

        .ticket-column {
            .ticket-box-container {
                width: 100% !important;

                .top-box {
                    padding: 26px 11px;
                    justify-content: space-between;

                    .info-button {
                        font-size: 11px !important;
                    }

                    h2 {
                        font-size: 16px !important;
                    }
                }

                .ticket-history {
                    .ticket-history-content {
                        height: 169px;
                    }
                }

                .inner-boxes {
                    .ticket-box-details {
                        .heading {
                            width: 47% !important;
                        }

                        .content {
                            width: 53% !important;
                        }

                        h3,
                        h2,
                        h5,
                        h4 {
                            font-size: 13px !important;
                        }
                    }
                }

            }
        }


    }

}

@media (min-width: $breakpoint-tablet) {}

// shadow

.no-shodow {
    box-shadow: none !important;
}

// style for progess bar
progress {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: none;
    width: 100px;
    height: 4px;
    background: rgb(232, 232, 235);
}


progress::-webkit-progress-value {
    background-color: $violet;
    border-radius: 4px;
}

progress::-moz-progress-value {
    background-color: $violet;
    border-radius: 4px;
}

progress::-moz-progress-bar {
    background: rgb(232, 232, 235);
    border-radius: 4px;
}

progress::-webkit-progress-bar {
    background: rgb(232, 232, 235);
    border-radius: 4px;
}