/* Main Stylesheet */

@use 'common';
@use 'custom';
//@use 'responsive';


// variables

$dark-blue: #441b40;
$maroon :#b1113e;
$yellow :#f8c145;
$violet: #993d90;
$light-voilet :#cfa4cb;


$text-color: #0e0f22;
$white: #fff;
$bg-main: #f7f9fa;
$scroll-thumb:#555;
$border-color: #b82157;
$header-icon-bg: #f8fafb;
$suport-box-bg: #fbfbfb;
$suport-icon-bg:  #bbb8b8;
$table-heading: #41419e;
$calender-btn: #f7f9fb;

$status-green: #027e0e;


//mixin
@mixin transition($proprty) {
  -webkit-transition: $proprty;
  transition: $proprty;
}

@mixin box-shadow($proprty) {
  -webkit-box-shadow: $proprty;
  box-shadow: $proprty;
}

//extention

%small-btn {
  font-size: 14px;
  color: $white;
  border-radius: 50px;
  padding: 2px 10px;
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.6;
  font-family: 'Montserrat';
  background: bg-main;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/****************************
 Common 
 ***************************/

.full-body-width {
  -ms-width: calc(100% - 110px);
  width: calc(100% - 110px);
  margin-left: 110px;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: $white;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  height: 100vh;
  overflow-y: auto;
  display: block;

  .side-bar {
    position: absolute;
    top: 0;
    left: 0;
    background: bg-main;
    height: 100vh;
    overflow-y: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 3px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: bg-main;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: bg-main;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: $scroll-thumb;
    }
  }
}
// tooltip

// .tooltip {
//   display: inline;
//   position: relative;
// }
// .tooltip:hover:after{
//   display: -webkit-flex;
//     display: flex;
//     -webkit-justify-content: center;
//     justify-content: center;
//     background: $white;
//     border-radius: 8px;
//     color: #0e0f22;
//     content: attr(title);
//     margin: -3px auto 4px;
//     font-size: 12px;
//     padding: 3px;
//     width: 110px;
//     margin-left: -30px;
//     @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

// }
// .tooltip:hover:before{
//   border: solid;
//   border-color: $white transparent;
//   border-width: 0 6px 12px 6px;
//   content: "";
//   left: 45%;
//   bottom: -1px;
//   position: absolute;
// }

// horizontal-tab

.horizontal-tab {
  .tab-box {
    justify-content: flex-start;
    border-bottom: 1px solid $light-voilet;
    margin-bottom: 30px;

    .tab-list {
      padding: 4px 20px;
      border-bottom: 4px solid transparent;
      cursor: pointer;
      font-size: 20px;
      color: $text-color;
      margin-right: 20px;

      &.active,
      &:hover {
        border-bottom: 4px solid $violet;
      }
    }
    &::-webkit-scrollbar{
      height: 0;
      width: 0;
    }
  }

  .subject-selection-box {
    display: none;


    &.active {
      display: block;
    }
  }
}

// tab boxes with two column

.two-column {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;

  .dashboard-box-container {
    width: 48%;
    border-radius: 16px;
    margin-bottom: 40px;
    @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

    .top-box {
      justify-content: flex-start;
      background-color: $dark-blue;
      height: 65px;
      box-sizing: border-box;
      color: $white;
      border-radius: 16px;
      padding: 18px 35px;

      h2 {
        font-size: 20px;
        line-height: 26px;
        font-weight: 400;

        img {
          vertical-align: middle;
          margin-right: 20px;
        }

        >span {
          font-size: 32px;
          margin-right: 14px;
          vertical-align: middle;
        }
      }
    }

    .inner-boxes {
      height: 172px;
      overflow-y: scroll;
      padding: 20px;
    }
  }
}

// scroll style


/* width */
::-ms-scrollbar {
  width: 3px;
  height: 3px;  
}

/* Track */
::-ms-scrollbar-track {
  background: bg-main;
}

/* Handle */
::-ms-scrollbar-thumb {
  background: $violet;
}

/* Handle on hover */
::-ms-scrollbar-thumb:hover {
  background: $scroll-thumb;
}


/* width */
::-moz-scrollbar {
  width: 3px;
  height: 3px;  
}

/* Track */
::-moz-scrollbar-track {
  background: bg-main;
}

/* Handle */
::-moz-scrollbar-thumb {
  background: $violet;
}

/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background: $scroll-thumb;
}


/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;  
}

/* Track */
::-webkit-scrollbar-track {
  background: bg-main;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $violet;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $scroll-thumb;
}


// style for progess bar
progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  width: 100px;
  height: 4px;
  background: rgb(232, 232, 235);
}


progress::-webkit-progress-value {
  background-color: $violet;
  border-radius: 4px;
}



progress::-webkit-progress-bar {
  background: rgb(232, 232, 235);
  border-radius: 4px;
  transition: all .5s;

}

progress::-moz-progress-bar {
  background-color: $violet  !important;
  transition: all .5s;
  border-radius: 4px;
}


/****************************
 Navigation
 *****************************/

.side-bar {
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  background-color: bg-main;
  width: 110px;
  box-sizing: border-box;
  @include transition(.3s ease-in-out);
  transition-property: width;
  z-index: 9;
  
  .logo {
    a {
      margin-bottom: 25px;
      display: block;
      text-decoration: none;
      overflow: hidden;
      height: 80px;


      img {
        width: 80px;
        height: 80px;
        vertical-align: middle;
      }

      .university-name {
        margin-left: 20px;
        font-size: 24px;
        line-height: 30px;
        color: $text-color;
        width: 0px;
        transition-property: width;
        overflow: hidden;
        display: none;
        @include transition(.6s ease-in-out);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .menu-bar {
    li {
      a {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
        width: 100%;
        margin-bottom: 20px;
        text-decoration: none;
        padding-left: 15px;
        color: $text-color;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        height: 52px;
        box-sizing: border-box;
        .menu-icon {
          width: 52px;
          height: 52px;
          background-color: $white;
          border-radius: 16px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 30px;
          color: $violet;
          @include transition(.6s ease-in-out);
        }

        .menu-text {
          margin-left: 20px;
          font-size: 18px;
          line-height: 24px;
          font-weight: 500;
          overflow: hidden;
          width: 0;
          transition-property: width;
          @include transition(.6s ease-in-out);
        }

        &:hover {
          .menu-icon {
            background-color: $violet;
            color: $white;

            img {
              filter: brightness(10);
            }
          }
        }
      }

      &.active {
        a {
          .menu-icon {
            background-color: $violet;
            color: $white;

            img {
              filter: brightness(10);
            }
          }
        }
      }
    }
  }

  &:hover {
    width: 370px;

    .logo {
      a {
        .university-name {
          width: auto;
          display: inline-block;
        }
      }
    }

    .menu-bar {
      li {
        a {
          .menu-text {
            width: auto;
          }
        }
      }
    }
  }
}

/****************************
Header
****************************/
.mobile-hamburger .icon-Align-left{
  color:$dark-blue;
}
.mobile-logo,
.mobile-hamburger {
  display: none;
}

header {
  padding-top: 15px;
  margin-bottom: 50px;

  .d-flex {
    justify-content: space-between;
  }

  .header-left.d-flex {
    .fit-to-screen {
      width: 48px;
      height: 48px;
      border-radius: 16px;
      // display: flex;
      // justify-content: center;
      // align-items: center;
      background-color: $header-icon-bg;
      color: $violet;
      font-size: 30px;
      margin-right: 30px;
      cursor: pointer;
      transition: 0.3s linear all !important;
      padding: 4px 10px;
      box-sizing: border-box;

      &:hover {
        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
      }
      a{
       
        display: block;
        text-decoration: none;
        width: 48px;
        height: 48px;
        color: $violet;
      }
    }

    .search-bar {
      .search-input {
        width: 195px;
        height: 48px;
        border-radius: 16px;
        border: none;
        padding-left: 10px;
        background-color: $header-icon-bg;
        font-size: 16px;
        color: $text-color;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .header-right.d-flex {
    .header-icon {
      width: 48px;
      height: 48px;
      border-radius: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $header-icon-bg;
      margin-left: 30px;
      cursor: pointer;
      font-size: 30px;
      color: $violet;
      transition: 0.3s linear all !important;
      box-sizing: border-box;
      &:hover {
        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
      }
      a{
       
        display: block;
        text-decoration: none;
        color: $violet;
        line-height: 30px;
        width: 30px;

        .fas.fa-headset{
          font-size: 26px;
        }
      }
    }

    .user-details {
      background-color: $header-icon-bg;
      margin-left: 30px;
      border-radius: 16px;
      padding: 0 10px 0 0;
      cursor: pointer;
      transition: 0.3s linear all !important;

      a {
        color: inherit;
        text-decoration: none;
      }

      &:hover {
        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
      }

      img {
        vertical-align: middle;
        width: 48px;
        height: 48px;
        border-radius: 16px;
        object-fit: cover;
        object-position: center;
      }
    }

    .logout {
      margin-left: 30px;
      cursor: pointer;
      width: 48px;
      height: 48px;
      border-radius: 16px;
      // display: flex;
      // color: $violet;
      // justify-content: center;
      // align-items: center;
      transition: 0.3s linear all !important;
      font-size: 30px;
      padding: 4px 10px;
      box-sizing: border-box;
      &:hover {
        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
      }
      a{
      
        display: block;
        text-decoration: none;
        width: 48px;
        height: 48px;
        color: $violet;
      }
    }
  }

}


/**************************
Dashboard
**************************/

// dashboard top-box
.user-details-panel {
  .d-flex {
    justify-content: space-between;

    .user-name {
      h1 {
        color: $dark-blue;
        font-size: 28px;
        line-height: 34px;

        span {
          font-size: 22px;
          line-height: 28px;
          display: block;
        }
      }
    }

    .start-learning {
      justify-content: flex-end;

      h2 {
        font-size: 22px;
        line-height: 28px;
        color: $text-color;
        width: 100px;
      }

      .continue-learning-box {
        width: 70px;
        height: 70px;
        border-radius: 16px;
        background-color: $violet;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-left: 30px;
        font-size: 35px;
        color: $white;
      }

      p {
        width: 100%;
        font-size: 14px;
        color: $text-color;
        text-align: right;
        margin-top: 10px;
      }
    }
  }
}

.dashboard-top-bpx {
  .collapse-button {
    opacity: 0;
  }

  .your-course {
    font-size: 22px;
    color: $text-color;
  }

  .course-details {
    justify-content: space-between;
    align-items: flex-start;
    background-color: $maroon;
    border-radius: 16px;
    padding: 20px 30px;
    box-sizing: border-box;
    color: $white;

    .bor {
      border-left: 1px solid $border-color;
      border-right: 1px solid $border-color;
      width: 300px;
      padding: 0 20px 0 30px;
    }

    .course-name {
      // padding-right: 75px;
      box-sizing: border-box;
      min-width: 300px;

      .course-details-name {
        h2 {
          font-size: 22px;
          max-width: 280px;
        }
      }

      .couese-student-name {
        h2 {
          font-size: 14px;
          font-weight: 600;
          line-height: 30px;

          span {
            font-size: 22px;
            display: inline-block;
            font-weight: 600;
          }
        }
      }
    }
  }

  .course-details-panel {
    padding: 50px 25px;
    @include transition(.4s);

    .four-box-outer{
        
      padding: 15px;
 
      .inner-boxes {
        justify-content: space-between;
        align-items: stretch;
      }
    }

    .semester-status {
      @include box-shadow(5px 0px 10px rgba(161, 159, 161, .57));
      width: 100%;
      padding: 18px;
      border-radius: 16px;
      margin-bottom: 8px;
      box-sizing: border-box;
      justify-content: space-between;
      overflow: hidden;
      cursor: pointer;

      transition: 0.3s linear all !important;

      &:hover {
        box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
        z-index: 3;
      }

      h3 {
        img {
          vertical-align: middle;
        }

        >span {
          font-size: 26px;
          margin-right: 4px;
          vertical-align: middle;
        }
      }
    }

    .dash-support {
      .tickets {
        background-color: $yellow;
        border-radius: 16px;
        padding: 15px;
        box-sizing: border-box;
        color: $text-color;
        text-transform: uppercase;
        width: 55%;
        @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

        h3 {
          margin-bottom: 10px;
          font-size: 20px;
          color: $text-color;
        }

        .progess-bar {
          width: 100%;
          margin-bottom: 10px;
        }

        .semester-points {
          justify-content: space-between;
          font-size: 36px;
          line-height: 48px;
          text-align: center;

          span {
            display: block;
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .contact-to-support {
        background-color:$suport-box-bg;
        border-radius: 16px;
        padding: 10px;
        box-sizing: border-box;
        color: $text-color;
        width: 43%;
        align-items: stretch;
        @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

        .contact-status {
          justify-content: space-between;
          margin-bottom: 15px;

          .profile {
            background-color:$suport-icon-bg;
            height: 45px;
            width: 45px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;

            span {
              color: $text-color;
              font-size: 26px;

            }
          }

          .status {
            span {
              color: $status-green;
              font-size: 12px;
            }
          }
        }

        .contact-persone-name {
          font-size: 20px;
          line-height: 26px;
          color: $text-color;
          margin-bottom: 5px;

        }

        .contact-persone-post {
          font-size: 14px;
          line-height: 17px;
          color: $text-color;
        }

        .message-box {
          justify-content: flex-end;

          .message-btn {
            background-color: $text-color;
            color: $white;
            font-size: 14px;
            @extend %small-btn;
            transition: 0.3s linear all !important;

            &:hover {
              box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
            }
          }
        }
      }
    }

    .notification-item {
      .notification {
        @include box-shadow(5px 0px 10px rgba(161, 159, 161, 0.57));
        width: 100%;
        padding: 18px;
        border-radius: 16px;
        margin-bottom: 8px;
        box-sizing: border-box;
        justify-content: space-between;
        overflow: hidden;
        cursor: pointer;

        transition: 0.3s linear all !important;

        &:hover {
          box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
        }

        h3 {
          font-size: 18px;
          line-height: 24px;
          margin-bottom: 5px;
          color: $text-color;

          strong {
            font-weight: 600;
          }

          img {
            vertical-align: middle;
            margin-right: 10px;
          }

          >span {
            font-size: 25px;
            color: $violet;
            margin-right: 4px;
            vertical-align: middle;
          }
        }

        .date-info {
          justify-content: flex-end;

          .date {
            font-size: 14px;
            line-height: 20px;
            color: $text-color;
            margin-right: 20px;
          }

          .complete-btn {
            background-color: $maroon;
            color: $white;
            @extend %small-btn;
            transition: 0.3s linear all !important;

            &:hover {
              box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
            }
          }
        }
      }
    }

    .dash-fee-payment {
      .course-fee {
        background-color: $yellow;
        border-radius: 16px;
        padding: 15px;
        box-sizing: border-box;
        color: $text-color;
        text-transform: uppercase;
        width: 58%;

        @include box-shadow(0 33px 38px rgba(222, 222, 222, .6));

        h3 {
          margin-bottom: 20px;
          font-size: 20px;
          color: $text-color;
        }

        .progess-bar {
          width: 100%;
          margin-bottom: 25px;
        }

        .semester-points {
          justify-content: space-between;
          font-size: 22px;
          line-height: 28px;
          text-align: center;

          span {
            display: block;
            font-size: 12px;
            line-height: 22px;
          }
        }
      }

      .due-payment {
        background-color: $maroon;
        border-radius: 16px;
        padding: 10px;
        box-sizing: border-box;
        color: $text-color;
        width: 40%;
        color: $white;
        align-items: stretch;
        @include box-shadow(0 33px 38px rgba(222, 222, 222, .6));

        h3 {
          margin-bottom: 20px;
          font-size: 20px;
          text-transform: uppercase;
        }

        .payment-amount {
          font-size: 28px;
          line-height: 34px;
          color: $yellow;
          font-weight: 600;
          margin-bottom: 5px;

        }

        .pay-btn {
          @extend %small-btn;
          background-color: $yellow;
          font-size: 14px;
          font-weight: 600;
          padding: 2px 14px;
          margin-bottom: 10px;

          transition: 0.3s linear all !important;

          &:hover {
            box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
          }
        }

        .due-date {
          font-size: 12px;
          font-weight: 600;
        }
      }
    }
  }
}

//Table container
.table-container {
  position: relative;
  padding: 13px 11px;
  border-radius: 4px;
  margin-bottom: 45px;
  @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

  h3 {
    font-size: 15px;
    font-weight: 600;
    color:$table-heading;
    margin-top: 8px;
    margin-bottom: 7px;
  }

  h4 {
    position: relative;
    font-size: 15px;
    font-weight: 600;
    color:$table-heading;
    margin-top: 8px;
    margin-bottom: 7px;
  }
}

// topbox common 

.top-box-container,
.table-container {
  border-radius: 16px;
  margin-bottom: 45px;
  @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

  .top-box {
    justify-content: space-between;
    background-color: $dark-blue;
    color: $white;
    border-radius: 16px;
    padding: 18px 35px;
    height: 86px;
    box-sizing: border-box;

    h2 {
      font-size: 24px;
      line-height: 20px;
      font-weight: 600;

      img {
        vertical-align: middle;
        margin-right: 20px;
      }

      >span {
        font-size: 30px;
        margin-right: 10px;
        vertical-align: middle;
      }
    }

    .payment-type {
      p {
        font-size: 20px;

        line-height: 26px;

        span {
          font-size: 24px;
          display: block;
          font-weight: 600;
        }
      }
    }
  }

  .inner-boxes {
    justify-content: space-between;
    padding: 20px 30px;
    align-items: stretch;
    box-sizing: border-box;

    .left-box {
      background-color: $yellow;
      border-radius: 16px;
      padding: 20px;
      box-sizing: border-box;
      color: $text-color;
      text-transform: uppercase;
      width: 35%;
      @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

      .select-sem {
        background-color: transparent;
        color: $text-color;
        font-size: 20px;
        border: none;
        font-weight: normal;
        display: block;
        font-family: 'Montserrat';
        -webkit-appearance: none;
        background-image: url(../../img/arrow-down.png);
        background-position: center right;
        background-repeat: no-repeat;
        width: 170px;
        margin-bottom: 15px;

        &:focus {
          outline: none;
        }

        option {
          font-size: 14px;
          padding: 4px;
        }
      }

      h3 {
        font-size: 20px;
        line-height: 26px;
        margin-bottom: 20px;
        color: $text-color;
      }

      .progess-bar {
        width: 100%;
        margin-bottom: 15px;
        height: 8px;
      }

      .semester-points {
        justify-content: space-between;
        font-size: 36px;
        line-height: 48px;
        text-align: center;

        span {
          display: block;
          font-size: 16px;
          line-height: 22px;
        }
      }
    }

    .right-box {
      background-color: $maroon;
      border-radius: 16px;
      padding: 20px;
      color: $white;
      box-sizing: border-box;
      width: 62%;
      justify-content: space-between;
      align-items: flex-start;
      @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

      .upcoming-info {
        width: 45%;

        .info-heading {
          font-size: 20px;
          line-height: 26px;
        }

        .mb-20 {
          margin-bottom: 20px;
        }

        .mb-10 {
          margin-bottom: 10px;
        }

        .info-Details {
          font-size: 22px;
          line-height: 36px;
          font-weight: 600;
        }

        .info-discription {
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;

          strong {
            font-weight: 600;
          }
        }
      }

      .upcoming-dates {
        width: 250px;
        text-align: center;

        .info-heading {
          font-size: 20px;
          line-height: 26px;
        }

        .mt-20 {
          margin-top: 20px;
        }

        .mb-10 {
          margin-bottom: 10px;
        }

        .info-Details {
          font-size: 22px;
          line-height: 36px;
          font-weight: 600;
        }

        .info-discription {
          font-size: 16px;
          line-height: 22px;
          font-weight: 400;
        }


        .info-button {
          background-color: $yellow;
          color: $white;
          text-decoration: none;
          border-radius: 18px;
          display: inline-block;
          padding: 7px 30px;
          font-size: 20px;
          line-height: 26px;
          font-weight: 600;
          margin-top: 10px;
          transition: 0.3s linear all !important;

          &:hover {
            box-shadow: 0 14px 24px rgba(0, 0, 0, .20) !important;
          }
        }
      }
    }
  }
}


// Fees & payments 

.payments {
  .top-box-container {
    margin-bottom: 45px;

    .inner-boxes {
      .right-box {
        .upcoming-info {
          .info-Details {
            font-size: 28px;
            line-height: 34px;
            margin: 40px 0 10px;
          }

          .info-discription {
            font-size: 20px;
            line-height: 26px;
          }
        }

        .upcoming-dates {
          .emi-amount {
            margin-top: 20px;
            font-size: 36px;
            font-weight: 600;
            color: $yellow;
          }

        }
      }
    }
  }
}

// support style

.support {
  .add-ticket {
    @extend %small-btn;
    background-color: $yellow;
    font-size: 20px;
    font-weight: 600;
    padding: 3px 20px;
    cursor: pointer;

    &:hover {
      background-color: $violet;
      color: $white;
      @include box-shadow(5px 0px 10px rgba(136, 129, 129, .6));
    }
  }

  .tickets {
    background-color: $yellow;
    border-radius: 16px;
    padding: 15px;
    box-sizing: border-box;
    color: $text-color;
    text-transform: uppercase;
    width: 55%;
    max-width: 380px;
    @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

    h3 {
      margin-bottom: 10px;
      font-size: 20px;
      color: $text-color;
    }

    .progess-bar {
      width: 100%;
      margin-bottom: 10px;
      height: 8px;
    }

    .semester-points {
      justify-content: space-between;
      font-size: 36px;
      line-height: 48px;
      text-align: center;

      span {
        display: block;
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  .contact-to-support {
    background-color:$suport-box-bg;
    border-radius: 16px;
    padding: 10px;
    box-sizing: border-box;
    color: $text-color;
    width: 43%;
    max-width: 210px;
    align-items: stretch;
    @include box-shadow(0 33px 38px rgba(222, 222, 222, .3));

    .contact-status {
      justify-content: space-between;
      margin-bottom: 15px;

      .profile {
        background-color:$suport-icon-bg;
        height: 45px;
        width: 45px;
        border-radius: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        span {
          color: $text-color;
          font-size: 26px;

        }
      }

      .status {
        span {
          color: $status-green;
          font-size: 12px;
        }
      }
    }

    .contact-persone-name {
      font-size: 25px;
      line-height: 26px;
      color: $text-color;
      margin-bottom: 5px;

    }

    .contact-persone-post {
      font-size: 14px;
      line-height: 17px;
      color: $text-color;
      margin-bottom: 10px;
    }

    .message-box {
      justify-content: flex-end;

      .message-btn {
        background-color: $text-color;
        color: $white;
        @extend %small-btn;
        cursor: pointer;

        &:hover {
          background-color: $violet;
          color: $white;
          @include box-shadow(5px 0px 10px rgba(136, 129, 129, .6));
        }
      }
    }
  }
}


// pop ups

.pop-up-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.329);
  display: none;
  justify-content: center;
  align-items: center;

  &.active {
    display: flex;
  }

  .pop-up {
    z-index: 9999;
    display: none;
    max-height: 80vh;
    overflow-y: auto;
  }

  .pop-up-container {
    width: 80%;

    .modal header {
      margin-bottom: 10px !important;
    }
  }
}

textarea {
  resize: none !important;
}





/**********************
calendar
***********************/
.academic-calendar {
  .top-box-gray {
    background-color: $header-icon-bg;
    padding: 22px;
    border-radius: 16px 16px 0 0;
    margin-bottom: 0px;
    justify-content: space-between;  

    h2 {
      display: flex;
      .icon-Time-schedule {
        vertical-align: middle;
        margin-right: 20px;
        font-size: 30px;
      }

      font-weight: 600;
      color: $text-color;
      font-size: 18px;
    }
  }

  .indication {
    width: 40%;
    background-color: $header-icon-bg;
    border-radius: 4px;
    // padding: 15px 10px 10px;
    // margin-bottom: 20px;
    position: relative;
    // margin-top: 120px;

    ul {
      justify-content: space-between;
      li {
        font-size: 12px;
        line-height: 20px;
        padding: 5px;
        list-style: none;
        // margin-bottom: 7px;
        width: fit-content;

        .mark {
          width: 20px;
          display: block;
          height: 6px;
          border-radius: 50px;
          margin-bottom: 3px;
        }

        &:nth-child(1) .mark {
          background-color: $maroon;
        }

        &:nth-child(2) .mark {
          background-color: $violet;
        }

        &:nth-child(3) .mark {
          background-color: $status-green;
        }

        &:nth-child(4) .mark {
          background-color: $yellow;
        }
      }
    }
  }

  .cal-section {
    justify-content: space-between;
    align-items: flex-start;
  }

  .indication .legends {
    width: 100%;
  }

  #fccalendar {
    width: 100%;
    box-sizing: border-box;
  }

  .fc-header-toolbar {
    background-color: $dark-blue;
    padding: 25px 20px;
    border-radius: 0 0 16px 16px;
    color: $white;
  }

  #fccalendar td {
    border-bottom: 1px solid $scroll-thumb !important;
  }

  .fc-theme-standard th,
  .fc-col-header td {
    border: none !important;

  }

  .fc .fc-scrollgrid-section>td {
    padding: 0 !important;
  }

  #fccalendar td,
  #fccalendar th {
    border-top: none;
  }

  .academic-calendar #fccalendar td {
    padding: 3px 7px !important;

  }

  //.fc-toolbar-chunk{}
  .fc-direction-ltr .fc-button-group>.fc-button {
    background-color: $calender-btn;
    border-radius: 8px !important;
    margin-left: 10px !important;
    color: $dark-blue;
    font-size: 18px;
    height: 45px;
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
  }
  .fc-direction-ltr .fc-button-group>.fc-button-active{
    background-color: $yellow !important;
    color: $text-color !important;
  }
  .fc-direction-ltr .fc-button-group>.fc-dayGridMonth-button,
  .fc-direction-ltr .fc-button-group>.fc-timeGridWeek-button,
  .fc-direction-ltr .fc-button-group>.fc-timeGridDay-button {
    width: auto;
  }

  .fc .fc-button-primary {
    background-color: $calender-btn;
    border-radius: 8px !important;
    margin-left: 10px !important;
    color: $text-color;
    font-size: 18px;
  }

  .fc-scroller-harness-liquid td,
  .fc-scroller-harness-liquid th {
    padding: 0 !important;
  }

  .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
    position: relative;
    min-height: 0;
  }
}
