
$active: #f8c145;
$border-color: #b82157;
$dark-blue: #441b40;
$light-voilet :#cfa4cb;

$layout-breakpoint-medium: 1199px;
$layout-breakpoint-small: 991px;
$layout-breakpoint-xs: 767px;

// style bellow 1199px
@media (max-width: $layout-breakpoint-medium) {

  // common style
  .full-body-width {
    padding: 0 20px;
  }

  // tab bar style
  .top-box-container {
    .inner-boxes {
      .left-box {
        width: 100%;
        margin-bottom: 20px;
      }

      .right-box {
        width: 100%;
        margin-bottom: 20px;
      }
    }
  }

  .two-column {
    .dashboard-box-container {
      .top-box {
        height: 65px;
      }
    }
  }

  // dashboard 
  .dashboard-top-bpx {
    .course-details {
      .course-name {
        width: 33%;
        min-width: auto;
        border: none;
      }
    }

    .course-details-panel {
      .dash-fee-payment {
        .course-fee {
          h3 {
            font-size: 16px;
          }

          .semester-points {
            justify-content: space-between;

          }
        }

        .due-payment {
          h3 {
            font-size: 16px;
          }

          .payment-amount {
            font-size: 22px;
            width: 100%;
            text-align: center;
          }

          .pay-btn {
            text-align: center;
          }

          .due-date {
            width: 100%;
            text-align: center;
          }
        }
      }

      .dash-support {
        .tickets {
          padding: 15px;

          h3 {
            font-size: 16px;
          }

          .semester-points {
            font-size: 26px;

            span {
              font-size: 12px;
              line-height: 16px;
            }
          }
        }


      }
    }
  }
}

@media (max-width: $layout-breakpoint-small) {

  // common
  // two column bopbox
  .two-column {
    .dashboard-box-container {
      width: 100%;
    }
  }

  header {
    .header-left.d-flex {
      .search-bar {
        .search-input {
          width: 152px;
        }
      }
    }

    .header-right.d-flex {
      .header-icon {
        margin-left: 7px;
      }

      .user-details {
        margin-left: 7px;
        width: 209px;

        .user-name {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      .logout {
        margin-left: 0px;
      }
    }
  }

  .user-details-panel {
    .d-flex {
      .user-name {
        width: 60%;

        h1 {
          font-size: 22px;

          span {
            font-size: 18px;
          }
        }
      }

      .start-learning {
        width: 40%;
      }
    }
  }

  // calendar
  .fc h2.fc-toolbar-title {
    font-size: 16px;
  }

  .academic-calendar .fc-direction-ltr .fc-button-group>.fc-button {
    font-size: 14px;
  }
  .profile-body {
    .ticket-column {
      .ticket-box-container {
        .profile-experience {
           h5 {
             font-size: 13px;
           }
           .fas {
            margin-left: -23px;
            position: absolute;
           }
        }
        .ticket-history {
          .ticket-history-content {
            .d-flex p {
              font-size: 12px;
            }
          }
        }
        .top-box {
          padding: 26px 16px;
        }
      }
    }
    .profile-box {
      .d-flex {
        justify-content: flex-start;
        .username h1 {
          font-size: 19px;
          line-height: 20px;
        }
        .profile-text {
          width: 72%;
          .d-flex {
            .text h2 {
              font-size: 11px;
            }
          }
          img {
            height: 33px;
          }
          .profile-name {
            .d-flex {
              .profile-name-text {
                width: 67%;
                img {
                height: 46px;
                }
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: $layout-breakpoint-xs) {
  .mobile-only {
    display: none;
  }
}

// style bellow 767
@media (max-width: $layout-breakpoint-xs) {


  // common style
  .full-body-width {
    width: calc(100% - 0px);
    margin-left: 0px;
    padding: 0 10px;
    border-radius: 0;
  }

  // header


  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;

    .mobile-hamburger {
      display: block;
      font-size: 30px;
    }

    .mobile-logo {
      display: block;
      width: 240px;

      img {
        max-width: 100%;
      }
    }

    .header-left {
      display: none;
    }

    .header-right.d-flex {
      .header-icon {
        display: none;
      }

      .user-details {
        width: 48px;
        padding: 0;

        .user-name {
          display: none;
        }
      }

      .logout {
        display: none;
      }
    }
  }


  // side nav
  .side-bar {
    padding: 0;
    width: 0;
    margin-top: 70px;
    padding-top: 10px;

    .menu-bar li a {
      box-sizing: border-box;

      .menu-text {
        width: auto;
        font-size: 16px;
      }
    }

    .logo {
      width: 300px;
      display: none;

      a {
        .university-name {
          width: auto;
          display: inline-block;
          font-size: 22px;
        }
      }
    }
  }

  .side-bar.open-menu {
    width: 100%;
    transition: width 1s;
  }

  // top box
  .top-box-container {
    .top-box {
      h2 {
        font-size: 24px;
        line-height: 30px;

        >span {
          font-size: 30px;
          margin-right: 10px;
        }

        img {
          width: 30px;
          margin-right: 6px;
        }
      }
    }

    .inner-boxes {
      padding: 20px;

      .left-box {
        .select-sem {
          font-size: 18px;
          line-height: 24px;
        }

        .progess-bar {
          margin-bottom: 10px;
        }

        .semester-points {
          font-size: 28px;
          line-height: 34px;

          span {
            font-size: 16px;
            line-height: 22px;
          }
        }
      }

      .right-box {
        .upcoming-info {
          width: 100%;

          .mb-20 {
            margin-bottom: 9px;
          }

          // .info-heading {
          //   font-size: 16px;
          //   line-height: 22px;
          // }

          .info-Details {
            font-size: 18px;
            line-height: 26px;
            font-weight: 600;
          }
        }

        .upcoming-dates {
          width: 100%;

          .mt-20 {
            margin-top: 40px;
          }

          .info-heading {
            font-size: 18px;
            line-height: 24px;
          }

          .info-button {
            font-size: 18px;
          }
        }
      }
    }
  }

  .payments,
  .support {
    .top-box-container {
      .top-box {
        height: auto;
      }

      .payment-type {
        width: 100%;

        p {
          text-align: right;

          span {
            display: inline;
          }
        }
      }
    }
  }

  // tab
  .horizontal-tab {
    .tab-box {
      justify-content: flex-start;
      border-bottom: 1px solid $light-voilet;
      margin-bottom: 30px;
      flex-wrap: nowrap;
      overflow: scroll;

      .tab-list {
        white-space: nowrap;
        font-size: 16px;
      }
    }
  }

  // dashboard

  .user-details-panel {
    .d-flex {
      .user-name {
        width: 80%;
        margin-bottom: 20px;

        h1 {
          font-size: 18px;
          line-height: 24px;

          span {
            font-size: 14px;
            line-height: 20px;
          }
        }
      }

      .start-learning {
        width: 20%;
        justify-content: space-between;

        h2 {
          display: none;
        }

        p {
          display: none;
        }

        .continue-learning-box {
          width: 40px;
          height: 40px;
          border-radius: 10px;
          font-size: 24px;

          img {
            width: 25px;
          }
        }
      }
    }
  }

  .dashboard-top-bpx {
    .your-course {
      display: none;
    }

    .course-details {

      .course-name,
      .course-details-icon {
        width: 100%;
        min-width: auto;
        border: none;
        padding: 0;
        margin-bottom: 0px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;

        .course-details-icon {
          width: 60px;
          padding-top: 20px;
        }

        .course-details-name,
        .couese-student-name {
          width: calc(100% - 60px);
          padding: 10px 0;

          h2 {
            font-size: 15px;
          }
        }

        .course-details-name {
          h2 {
            font-size: 18px;
          }
        }
      }

      .bor {
        border-top: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
    }

    .course-details-panel {
      padding: 25px 0px;

      .dash-support {
        .tickets {
          width: 100%;
          margin-bottom: 20px;
        }

        .contact-to-support {
          width: 100%;
        }
      }

      .dash-fee-payment {
        .course-fee {
          width: 100%;
          margin-bottom: 20px;
        }

        .due-payment {
          width: 100%;
          margin-bottom: 20px;
        }
      }
    }
  }

  .two-column {
    .dashboard-box-container {
      .top-box {
        background-color: $dark-blue;
        height: 70px;
        justify-content: space-between;
        padding: 0 20px;

        h2 {
          font-size: 16px;

          img {
            max-height: 26px;
            max-width: 26px;
          }
        }

        .collapse-button {
          width: 30px;
          height: 30px;
          background-color: $active;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 8px;
          font-size: 24px;
          transition: all .3s ease-in-out;
          opacity: 1;
        }
      }

      .inner-boxes {
        height: 100%;
        height: 0;
        transition: all .3s ease-in-out;
        transition-property: height;
        box-sizing: border-box;
        padding: 0;
      }
    }

    .dashboard-box-container.open {
      .collapse-button {
        transform: rotate(180deg);
        transition: all .7s ease-in-out;
      }

      .inner-boxes {
        height: 100%;
        padding: 20px;
      }
    }
  }

  // support
  .support {
    .tickets {
      width: 100%;
      margin-bottom: 10px;
    }

    .add-ticket {
      margin-top: 20px;
      margin-left: auto;
    }

    .contact-to-support {
      width: 100%;
      max-width: 100%;
    }
  }

  // calender
  .academic-calendar {
    #fccalendar {
      width: calc(100% - 0px);
      box-sizing: border-box;
    }

    .indication {
      margin-top: 20px;
      width: 100%;

      .legends {
        display: flex;
        margin-top: 10px;

        li {
          width: 35%;
          margin: 5px;
          padding: 0;
        }
      }
    }

    .fc-header-toolbar {
      flex-wrap: wrap;

      .fc-toolbar-chunk {
        &:nth-child(1) {
          width: 33%;
        }

        &:nth-child(2) {
          width: 100%;
          text-align: right;
          margin-top: 20px;
          order: 3;

          h2.fc-toolbar-title {
            font-size: 22px;
            font-weight: 600;
          }
        }

        &:nth-child(3) {
          width: 67%;
          text-align: right;
          order: 2;
        }
      }
    }
    .modal {
        header {
            width:100%;
            h3 {
                width: 100%;
            }
        }
        .modal-body {
            .d-flex {

                .form-group,
                .form-group-left,
                .form-group-right {
                    width: 100%;
                }
            }
        }
    }
    .dataTables_wrapper {
        .dataTables_filter input {
            width: 45%;
        }
    }
    .page-name{
        /*margin-bottom: 20px;*/
    }
    .payment-type {
        margin-top: 8px;
    }
    .support {
        ul {
            li:last-child {
                padding: 8px 8px;
                width: 18px;
                top: 0px;
                right: 11px;
                position: inherit;
            }
        }
    }
    .profile-box {
        .icon-btn {
                right: 18px;
                top: 16px;
            }
    }
    .profile-body {
        .ticket-details {
            padding: 50px 0px;
        }

        .ticket-column {
            .ticket-box-container {
                .top-box {
                    h2 {
                        font-size: 17px;
                    }
                }

                .profile-experience {
                    h5 {
                        font-size: 12px !important;
                    }
                }

                .profile-education {
                    .d-flex {

                        .right,
                        .left {
                            width: 100% !important;
                        }
                    }
                }
            }
        }

        .profile-box {
            .d-flex {
                .username {
                    width: 94% !important;
                }

                .profile-text {
                    padding: 8px !important;
                    width: 94%;

                    .d-flex {
                        .text {
                            width: 100% !important;
                        }
                    }

                    .profile-name {
                        .d-flex {
                            .profile-name-text {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }

        .ticket-column {
            .ticket-box-container {
                width: 100% !important;
            }
        }
    }

    ////Ticket//////
    .ticket-body {
        .ticket-details {
            padding: 50px 0px;
        }

        .ticket-box {
            .d-flex {
                .start-learning {
                    padding-top: 19px !important;
                    margin-left: auto;

                    h2 {
                        width: 111px;
                        font-size: 15px !important;
                    }

                    .resolve-btn {
                        font-size: 11px !important;
                    }
                }

                .user-name {
                    img {
                        height: 47px;
                    }

                    h1 {
                        line-height: 21px;
                        font-size: 15px !important;
                    }
                }
            }
        }

        .ticket-column {
            .ticket-box-container {
                width: 100% !important;

                .top-box {
                    padding: 26px 11px;
                    justify-content: space-between;

                    .info-button {
                        font-size: 11px !important;
                    }

                    h2 {
                        font-size: 16px !important;
                    }
                }

                .ticket-history {
                    .ticket-history-content {
                        height: 169px;
                    }
                }

                .inner-boxes {
                    .ticket-box-details {
                        .heading {
                            width: 47% !important;
                        }

                        .content {
                            width: 53% !important;
                        }

                        h3,
                        h2,
                        h5,
                        h4 {
                            font-size: 13px !important;
                        }
                    }
                }

            }
        }


    }
    .modal {
      header {
        width: 100%;
  
        h3 {
          width: 100%;
        }
      }
  
      .modal-body {
        .d-flex {
  
          .form-group,
          .form-group-left,
          .form-group-right {
            width: 100%;
          }
        }
      }
    }
  
    .dataTables_wrapper {
      .dataTables_filter input {
        width: 45%;
      }
    }
  
  
    .payment-type {
      margin-top: 8px;
    }
  
    .support {
      ul {
        li:last-child {
          padding: 8px 8px;
          width: 18px;
          top: 0px;
          right: 11px;
          position: inherit;
        }
      }
    }
  
    .profile-box {
      .icon-btn {
        right: 18px;
        top: 16px;
      }
    }
  
    .profile-body {
      .ticket-details {
        padding: 50px 0px;
      }
  
      .ticket-column {
        .ticket-box-container {
          .top-box {
            h2 {
              font-size: 17px;
            }
          }
  
          .profile-experience {
            h5 {
              font-size: 12px !important;
            }
          }
  
          .profile-education {
            .d-flex {
  
              .right,
              .left {
                width: 100% !important;
              }
            }
          }
        }
      }
  
      .profile-box {
        .d-flex {
          .username {
            width: 94% !important;
          }
  
          .profile-text {
            padding: 8px !important;
            width: 94%;
  
            .d-flex {
              .text {
                width: 100% !important;
              }
            }
  
            .profile-name {
              .d-flex {
                .profile-name-text {
                  width: 100%;
                }
              }
            }
          }
        }
      }
  
      .ticket-column {
        .ticket-box-container {
          width: 100% !important;
        }
      }
    }
  
    ////Ticket//////
    .ticket-body {
      .ticket-details {
        padding: 50px 0px;
      }
  
      .ticket-box {
        .d-flex {
          .start-learning {
            padding-top: 19px !important;
            margin-left: auto;
  
            h2 {
              width: 111px;
              font-size: 15px !important;
            }
  
            .resolve-btn {
              font-size: 11px !important;
            }
          }
  
          .user-name {
            img {
              height: 47px;
            }
  
            h1 {
              line-height: 21px;
              font-size: 15px !important;
            }
          }
        }
      }
  
      .ticket-column {
        .ticket-box-container {
          width: 100% !important;
  
          .top-box {
            padding: 26px 11px;
            justify-content: space-between;
  
            .info-button {
              font-size: 11px !important;
            }
  
            h2 {
              font-size: 16px !important;
            }
          }
  
          .ticket-history {
            .ticket-history-content {
              height: 169px;
            }
          }
  
          .inner-boxes {
            .ticket-box-details {
              .heading {
                width: 47% !important;
              }
  
              .content {
                width: 53% !important;
              }
  
              h3,
              h2,
              h5,
              h4 {
                font-size: 13px !important;
              }
            }
          }
        }
      }
    }
  }
  }




  