@media (max-width: 1199px) {
  .full-body-width {
    padding: 0 20px;
  }

  .top-box-container .inner-boxes .left-box {
    width: 100%;
    margin-bottom: 20px;
  }
  .top-box-container .inner-boxes .right-box {
    width: 100%;
    margin-bottom: 20px;
  }

  .two-column .dashboard-box-container .top-box {
    height: 65px;
  }

  .dashboard-top-bpx .course-details .course-name {
    width: 33%;
    min-width: auto;
    border: none;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee h3 {
    font-size: 16px;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee .semester-points {
    justify-content: space-between;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment h3 {
    font-size: 16px;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .payment-amount {
    font-size: 22px;
    width: 100%;
    text-align: center;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .pay-btn {
    text-align: center;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .due-date {
    width: 100%;
    text-align: center;
  }
  .dashboard-top-bpx .course-details-panel .dash-support .tickets {
    padding: 15px;
  }
  .dashboard-top-bpx .course-details-panel .dash-support .tickets h3 {
    font-size: 16px;
  }
  .dashboard-top-bpx .course-details-panel .dash-support .tickets .semester-points {
    font-size: 26px;
  }
  .dashboard-top-bpx .course-details-panel .dash-support .tickets .semester-points span {
    font-size: 12px;
    line-height: 16px;
  }
}
@media (max-width: 991px) {
  .two-column .dashboard-box-container {
    width: 100%;
  }

  header .header-left.d-flex .search-bar .search-input {
    width: 152px;
  }
  header .header-right.d-flex .header-icon {
    margin-left: 7px;
  }
  header .header-right.d-flex .user-details {
    margin-left: 7px;
    width: 209px;
  }
  header .header-right.d-flex .user-details .user-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  header .header-right.d-flex .logout {
    margin-left: 0px;
  }

  .user-details-panel .d-flex .user-name {
    width: 60%;
  }
  .user-details-panel .d-flex .user-name h1 {
    font-size: 22px;
  }
  .user-details-panel .d-flex .user-name h1 span {
    font-size: 18px;
  }
  .user-details-panel .d-flex .start-learning {
    width: 40%;
  }

  .fc h2.fc-toolbar-title {
    font-size: 16px;
  }

  .academic-calendar .fc-direction-ltr .fc-button-group > .fc-button {
    font-size: 14px;
  }

  .profile-body .ticket-column .ticket-box-container .profile-experience h5 {
    font-size: 13px;
  }
  .profile-body .ticket-column .ticket-box-container .profile-experience .fas {
    margin-left: -23px;
    position: absolute;
  }
  .profile-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex p {
    font-size: 12px;
  }
  .profile-body .ticket-column .ticket-box-container .top-box {
    padding: 26px 16px;
  }
  .profile-body .profile-box .d-flex {
    justify-content: flex-start;
  }
  .profile-body .profile-box .d-flex .username h1 {
    font-size: 19px;
    line-height: 20px;
  }
  .profile-body .profile-box .d-flex .profile-text {
    width: 72%;
  }
  .profile-body .profile-box .d-flex .profile-text .d-flex .text h2 {
    font-size: 11px;
  }
  .profile-body .profile-box .d-flex .profile-text img {
    height: 33px;
  }
  .profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text {
    width: 67%;
  }
  .profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text img {
    height: 46px;
  }
}
@media (min-width: 767px) {
  .mobile-only {
    display: none;
  }
}
@media (max-width: 767px) {
  .full-body-width {
    width: calc(100% - 0px);
    margin-left: 0px;
    padding: 0 10px;
    border-radius: 0;
  }

  header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  header .mobile-hamburger {
    display: block;
    font-size: 30px;
  }
  header .mobile-logo {
    display: block;
    width: 240px;
  }
  header .mobile-logo img {
    max-width: 100%;
  }
  header .header-left {
    display: none;
  }
  header .header-right.d-flex .header-icon {
    display: none;
  }
  header .header-right.d-flex .user-details {
    width: 48px;
    padding: 0;
  }
  header .header-right.d-flex .user-details .user-name {
    display: none;
  }
  header .header-right.d-flex .logout {
    display: none;
  }

  .side-bar {
    padding: 0;
    width: 0;
    margin-top: 70px;
    padding-top: 10px;
  }
  .side-bar .menu-bar li a {
    box-sizing: border-box;
  }
  .side-bar .menu-bar li a .menu-text {
    width: auto;
    font-size: 16px;
  }
  .side-bar .logo {
    width: 300px;
    display: none;
  }
  .side-bar .logo a .university-name {
    width: auto;
    display: inline-block;
    font-size: 22px;
  }

  .side-bar.open-menu {
    width: 100%;
    transition: width 1s;
  }

  .top-box-container .top-box h2 {
    font-size: 24px;
    line-height: 30px;
  }
  .top-box-container .top-box h2 > span {
    font-size: 30px;
    margin-right: 10px;
  }
  .top-box-container .top-box h2 img {
    width: 30px;
    margin-right: 6px;
  }
  .top-box-container .inner-boxes {
    padding: 20px;
  }
  .top-box-container .inner-boxes .left-box .select-sem {
    font-size: 18px;
    line-height: 24px;
  }
  .top-box-container .inner-boxes .left-box .progess-bar {
    margin-bottom: 10px;
  }
  .top-box-container .inner-boxes .left-box .semester-points {
    font-size: 28px;
    line-height: 34px;
  }
  .top-box-container .inner-boxes .left-box .semester-points span {
    font-size: 16px;
    line-height: 22px;
  }
  .top-box-container .inner-boxes .right-box .upcoming-info {
    width: 100%;
  }
  .top-box-container .inner-boxes .right-box .upcoming-info .mb-20 {
    margin-bottom: 9px;
  }
  .top-box-container .inner-boxes .right-box .upcoming-info .info-Details {
    font-size: 18px;
    line-height: 26px;
    font-weight: 600;
  }
  .top-box-container .inner-boxes .right-box .upcoming-dates {
    width: 100%;
  }
  .top-box-container .inner-boxes .right-box .upcoming-dates .mt-20 {
    margin-top: 40px;
  }
  .top-box-container .inner-boxes .right-box .upcoming-dates .info-heading {
    font-size: 18px;
    line-height: 24px;
  }
  .top-box-container .inner-boxes .right-box .upcoming-dates .info-button {
    font-size: 18px;
  }

  .payments .top-box-container .top-box,
.support .top-box-container .top-box {
    height: auto;
  }
  .payments .top-box-container .payment-type,
.support .top-box-container .payment-type {
    width: 100%;
  }
  .payments .top-box-container .payment-type p,
.support .top-box-container .payment-type p {
    text-align: right;
  }
  .payments .top-box-container .payment-type p span,
.support .top-box-container .payment-type p span {
    display: inline;
  }

  .horizontal-tab .tab-box {
    justify-content: flex-start;
    border-bottom: 1px solid #cfa4cb;
    margin-bottom: 30px;
    flex-wrap: nowrap;
    overflow: scroll;
  }
  .horizontal-tab .tab-box .tab-list {
    white-space: nowrap;
    font-size: 16px;
  }

  .user-details-panel .d-flex .user-name {
    width: 80%;
    margin-bottom: 20px;
  }
  .user-details-panel .d-flex .user-name h1 {
    font-size: 18px;
    line-height: 24px;
  }
  .user-details-panel .d-flex .user-name h1 span {
    font-size: 14px;
    line-height: 20px;
  }
  .user-details-panel .d-flex .start-learning {
    width: 20%;
    justify-content: space-between;
  }
  .user-details-panel .d-flex .start-learning h2 {
    display: none;
  }
  .user-details-panel .d-flex .start-learning p {
    display: none;
  }
  .user-details-panel .d-flex .start-learning .continue-learning-box {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    font-size: 24px;
  }
  .user-details-panel .d-flex .start-learning .continue-learning-box img {
    width: 25px;
  }

  .dashboard-top-bpx .your-course {
    display: none;
  }
  .dashboard-top-bpx .course-details .course-name,
.dashboard-top-bpx .course-details .course-details-icon {
    width: 100%;
    min-width: auto;
    border: none;
    padding: 0;
    margin-bottom: 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .dashboard-top-bpx .course-details .course-name .course-details-icon,
.dashboard-top-bpx .course-details .course-details-icon .course-details-icon {
    width: 60px;
    padding-top: 20px;
  }
  .dashboard-top-bpx .course-details .course-name .course-details-name,
.dashboard-top-bpx .course-details .course-name .couese-student-name,
.dashboard-top-bpx .course-details .course-details-icon .course-details-name,
.dashboard-top-bpx .course-details .course-details-icon .couese-student-name {
    width: calc(100% - 60px);
    padding: 10px 0;
  }
  .dashboard-top-bpx .course-details .course-name .course-details-name h2,
.dashboard-top-bpx .course-details .course-name .couese-student-name h2,
.dashboard-top-bpx .course-details .course-details-icon .course-details-name h2,
.dashboard-top-bpx .course-details .course-details-icon .couese-student-name h2 {
    font-size: 15px;
  }
  .dashboard-top-bpx .course-details .course-name .course-details-name h2,
.dashboard-top-bpx .course-details .course-details-icon .course-details-name h2 {
    font-size: 18px;
  }
  .dashboard-top-bpx .course-details .bor {
    border-top: 1px solid #b82157;
    border-bottom: 1px solid #b82157;
  }
  .dashboard-top-bpx .course-details-panel {
    padding: 25px 0px;
  }
  .dashboard-top-bpx .course-details-panel .dash-support .tickets {
    width: 100%;
    margin-bottom: 20px;
  }
  .dashboard-top-bpx .course-details-panel .dash-support .contact-to-support {
    width: 100%;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee {
    width: 100%;
    margin-bottom: 20px;
  }
  .dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment {
    width: 100%;
    margin-bottom: 20px;
  }

  .two-column .dashboard-box-container .top-box {
    background-color: #441b40;
    height: 70px;
    justify-content: space-between;
    padding: 0 20px;
  }
  .two-column .dashboard-box-container .top-box h2 {
    font-size: 16px;
  }
  .two-column .dashboard-box-container .top-box h2 img {
    max-height: 26px;
    max-width: 26px;
  }
  .two-column .dashboard-box-container .top-box .collapse-button {
    width: 30px;
    height: 30px;
    background-color: #f8c145;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    font-size: 24px;
    transition: all 0.3s ease-in-out;
    opacity: 1;
  }
  .two-column .dashboard-box-container .inner-boxes {
    height: 100%;
    height: 0;
    transition: all 0.3s ease-in-out;
    transition-property: height;
    box-sizing: border-box;
    padding: 0;
  }
  .two-column .dashboard-box-container.open .collapse-button {
    transform: rotate(180deg);
    transition: all 0.7s ease-in-out;
  }
  .two-column .dashboard-box-container.open .inner-boxes {
    height: 100%;
    padding: 20px;
  }

  .support .tickets {
    width: 100%;
    margin-bottom: 10px;
  }
  .support .add-ticket {
    margin-top: 20px;
    margin-left: auto;
  }
  .support .contact-to-support {
    width: 100%;
    max-width: 100%;
  }

  .academic-calendar #fccalendar {
    width: calc(100% - 0px);
    box-sizing: border-box;
  }
  .academic-calendar .indication {
    margin-top: 20px;
    width: 100%;
  }
  .academic-calendar .indication .legends {
    display: flex;
    margin-top: 10px;
  }
  .academic-calendar .indication .legends li {
    width: 35%;
    margin: 5px;
    padding: 0;
  }
  .academic-calendar .fc-header-toolbar {
    flex-wrap: wrap;
  }
  .academic-calendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(1) {
    width: 33%;
  }
  .academic-calendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) {
    width: 100%;
    text-align: right;
    margin-top: 20px;
    order: 3;
  }
  .academic-calendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(2) h2.fc-toolbar-title {
    font-size: 22px;
    font-weight: 600;
  }
  .academic-calendar .fc-header-toolbar .fc-toolbar-chunk:nth-child(3) {
    width: 67%;
    text-align: right;
    order: 2;
  }
}
@media screen and (max-width: 767px) and (max-width: 767px) {
  .modal header {
    width: 100%;
  }
  .modal header h3 {
    width: 100%;
  }
  .modal .modal-body .d-flex .form-group,
.modal .modal-body .d-flex .form-group-left,
.modal .modal-body .d-flex .form-group-right {
    width: 100%;
  }

  .dataTables_wrapper .dataTables_filter input {
    width: 45%;
  }

  .page-name {
    /*margin-bottom: 20px;*/
  }

  .payment-type {
    margin-top: 8px;
  }

  .support ul li:last-child {
    padding: 8px 8px;
    width: 18px;
    top: 0px;
    right: 11px;
    position: inherit;
  }

  .profile-box .icon-btn {
    right: 18px;
    top: 16px;
  }

  .profile-body .ticket-details {
    padding: 50px 0px;
  }
  .profile-body .ticket-column .ticket-box-container .top-box h2 {
    font-size: 17px;
  }
  .profile-body .ticket-column .ticket-box-container .profile-experience h5 {
    font-size: 12px !important;
  }
  .profile-body .ticket-column .ticket-box-container .profile-education .d-flex .right,
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex .left {
    width: 100% !important;
  }
  .profile-body .profile-box .d-flex .username {
    width: 94% !important;
  }
  .profile-body .profile-box .d-flex .profile-text {
    padding: 8px !important;
    width: 94%;
  }
  .profile-body .profile-box .d-flex .profile-text .d-flex .text {
    width: 100% !important;
  }
  .profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text {
    width: 100%;
  }
  .profile-body .ticket-column .ticket-box-container {
    width: 100% !important;
  }

  .ticket-body .ticket-details {
    padding: 50px 0px;
  }
  .ticket-body .ticket-box .d-flex .start-learning {
    padding-top: 19px !important;
    margin-left: auto;
  }
  .ticket-body .ticket-box .d-flex .start-learning h2 {
    width: 111px;
    font-size: 15px !important;
  }
  .ticket-body .ticket-box .d-flex .start-learning .resolve-btn {
    font-size: 11px !important;
  }
  .ticket-body .ticket-box .d-flex .user-name img {
    height: 47px;
  }
  .ticket-body .ticket-box .d-flex .user-name h1 {
    line-height: 21px;
    font-size: 15px !important;
  }
  .ticket-body .ticket-column .ticket-box-container {
    width: 100% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box {
    padding: 26px 11px;
    justify-content: space-between;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box .info-button {
    font-size: 11px !important;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box h2 {
    font-size: 16px !important;
  }
  .ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content {
    height: 169px;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .heading {
    width: 47% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .content {
    width: 53% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h3,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h2,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h5,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h4 {
    font-size: 13px !important;
  }

  .modal header {
    width: 100%;
  }
  .modal header h3 {
    width: 100%;
  }
  .modal .modal-body .d-flex .form-group,
.modal .modal-body .d-flex .form-group-left,
.modal .modal-body .d-flex .form-group-right {
    width: 100%;
  }

  .dataTables_wrapper .dataTables_filter input {
    width: 45%;
  }

  .payment-type {
    margin-top: 8px;
  }

  .support ul li:last-child {
    padding: 8px 8px;
    width: 18px;
    top: 0px;
    right: 11px;
    position: inherit;
  }

  .profile-box .icon-btn {
    right: 18px;
    top: 16px;
  }

  .profile-body .ticket-details {
    padding: 50px 0px;
  }
  .profile-body .ticket-column .ticket-box-container .top-box h2 {
    font-size: 17px;
  }
  .profile-body .ticket-column .ticket-box-container .profile-experience h5 {
    font-size: 12px !important;
  }
  .profile-body .ticket-column .ticket-box-container .profile-education .d-flex .right,
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex .left {
    width: 100% !important;
  }
  .profile-body .profile-box .d-flex .username {
    width: 94% !important;
  }
  .profile-body .profile-box .d-flex .profile-text {
    padding: 8px !important;
    width: 94%;
  }
  .profile-body .profile-box .d-flex .profile-text .d-flex .text {
    width: 100% !important;
  }
  .profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text {
    width: 100%;
  }
  .profile-body .ticket-column .ticket-box-container {
    width: 100% !important;
  }

  .ticket-body .ticket-details {
    padding: 50px 0px;
  }
  .ticket-body .ticket-box .d-flex .start-learning {
    padding-top: 19px !important;
    margin-left: auto;
  }
  .ticket-body .ticket-box .d-flex .start-learning h2 {
    width: 111px;
    font-size: 15px !important;
  }
  .ticket-body .ticket-box .d-flex .start-learning .resolve-btn {
    font-size: 11px !important;
  }
  .ticket-body .ticket-box .d-flex .user-name img {
    height: 47px;
  }
  .ticket-body .ticket-box .d-flex .user-name h1 {
    line-height: 21px;
    font-size: 15px !important;
  }
  .ticket-body .ticket-column .ticket-box-container {
    width: 100% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box {
    padding: 26px 11px;
    justify-content: space-between;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box .info-button {
    font-size: 11px !important;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box h2 {
    font-size: 16px !important;
  }
  .ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content {
    height: 169px;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .heading {
    width: 47% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .content {
    width: 53% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h3,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h2,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h5,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h4 {
    font-size: 13px !important;
  }
}

/*# sourceMappingURL=responsive.css.map */
