@charset "UTF-8";
/* Stylesheet for Common Elements */
/****************************
button space
 *****************************/
.modal footer .d-flex .close-btn, .modal footer .d-flex .save-btn, .modal footer .d-flex .reset-btn {
  padding: 13px 21px;
  border: none;
  border-radius: 4px;
  font-size: 15px;
  -webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-4px) scale(1.02);
  -moz-transform: translateY(-4px) scale(1.02);
  -ms-transform: translateY(-4px) scale(1.02);
  -o-transform: translateY(-4px) scale(1.02);
  transform: translateY(-4px) scale(1.02);
}
.modal footer .d-flex .close-btn:hover, .modal footer .d-flex .save-btn:hover, .modal footer .d-flex .reset-btn:hover {
  -webkit-box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2);
  -webkit-transform: translateY(-3px) scale(1.02);
  -moz-transform: translateY(-3px) scale(1.02);
  -ms-transform: translateY(-3px) scale(1.02);
  -o-transform: translateY(-3px) scale(1.02);
  transform: translateY(-3px) scale(1.02);
}

.icon-btn {
  display: inline-grid;
  background-color: #f8c145;
  color: #000;
  text-decoration: none;
  border-radius: 13px;
  padding: 12px 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  text-align: center;
  transition: 0.3s linear all !important;
}
.icon-btn > span {
  font-size: 22px;
  vertical-align: middle;
}
.icon-btn:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}

/****************************
 form Space label and Form Control
 *****************************/
.modal footer .d-flex .form, .modal .modal-body .form {
  padding: 1px 0px;
  margin: 10px 5px;
}
.modal footer .d-flex .form label, .modal .modal-body .form label {
  font-weight: 500;
  font-size: 15px;
  color: #0b0984;
}
.modal footer .d-flex .form .form-control, .modal .modal-body .form .form-control {
  font-size: 15px;
  font-weight: 500;
  margin-top: 6px;
  box-sizing: border-box;
  color: #6487b1;
  padding: 13px 11px;
  display: block;
  border-radius: 4px;
  width: 100%;
  border: 2px solid #dee5ea;
}
.modal footer .d-flex .form ::placeholder, .modal .modal-body .form ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #6487b1;
  opacity: 1;
  /* Firefox */
}
.modal footer .d-flex .form :-ms-input-placeholder, .modal .modal-body .form :-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #6487b1;
}
.modal footer .d-flex .form ::-ms-input-placeholder, .modal .modal-body .form ::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #6487b1;
}

/****************************
 Table Page Container
 *****************************/
.container {
  padding: 12px 15px;
}

/****************************
 bold font weight
 *****************************/
b {
  font-weight: 600;
  color: #9a98a7;
}

/****************************

 Table responive css
 *****************************/
.responsive-table {
  width: 100%;
  overflow-x: auto;
}
.responsive-table table {
  text-align: left;
}
.responsive-table table thead {
  font-weight: 500;
  font-size: 13px;
  background-color: #f5f9fc;
  color: #bab6c6;
  text-transform: uppercase;
}
.responsive-table table tbody {
  font-size: 13px;
  color: #918e98;
}
.responsive-table table tbody .fas {
  left: 10px;
  position: absolute;
  top: 17px;
}

/****************************
 Table th td css
 *****************************/
.responsive-table th {
  justify-content: center;
  vertical-align: middle !important;
}

.responsive-table td,
.responsive-table th {
  position: relative;
  font-weight: 500 !important;
  border-bottom: 1px solid #e7eaef !important;
  border-top: 1px solid #e7eaef !important;
  padding: 12px 25px !important;
}

/****************************
 font awesome color
 *****************************/
.fa-book:before {
  color: #b143d6;
}

.fa-check:before {
  color: #47d4a4;
}

.fa-circle {
  font-size: 8px;
}
.fa-circle:before {
  color: #f11a1a;
}

/****************************
 assignment tr width
 *****************************/
.assignment tr > *:nth-child(1) {
  width: 48%;
}
.assignment tr > *:nth-child(2) {
  width: 20%;
}
.assignment tr > *:nth-child(3),
.assignment tr > *:nth-child(4) {
  width: 16%;
}

/****************************
 Result Table
 *****************************/
.results {
  border: 1px solid #e7eaef;
}

/****************************
 Support Table
 *****************************/
.support a {
  text-decoration: none;
}
.support ul {
  padding-inline-start: 0px;
  position: relative;
}
.support ul li {
  font-size: 11px;
  display: inline;
  padding: 8px 8px;
  border-radius: 50%;
  font-weight: 600;
  width: 16px;
  text-align: center;
}
.support ul li:last-child {
  padding: 7px 7px;
  width: 18px;
  top: -6px;
  right: 14px;
  position: absolute;
}
.support .user1 {
  background-color: #df3ff8;
  color: #000;
}
.support .user2 {
  border: 1px solid #fff;
  background-color: #014d40;
  color: #fff;
}

/****************************
Input Disabled
 *****************************/
input:disabled {
  background: #e8ecef;
}

/****************************
Modal
*****************************/
.modal {
  background-color: #fff;
}
.modal header {
  padding: 0px;
  border-bottom: 1px solid #e7eaef;
  margin-bottom: 0px;
}
.modal header h3 {
  color: #5f5d98;
  font-size: 17px;
  font-weight: 600;
  padding: 14px 20px;
}
.modal header h3 .fas {
  color: #000;
  cursor: pointer;
}
.modal .modal-body {
  padding: 20px 20px;
}
.modal .modal-body h4 {
  text-transform: uppercase;
  font-size: 15px;
  color: #2d587d;
  font-weight: 500;
  margin: 9px 0px 19px;
}
.modal .modal-body p {
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 600;
  color: #98a4ee;
}
.modal .modal-body h5 {
  margin-right: 20px;
  font-size: 17px;
  color: #70718f;
  font-weight: 600;
}
.modal .modal-body .resolve .d-flex {
  align-items: center;
  justify-content: flex-end;
}
.modal .modal-body .d-flex {
  align-items: end;
  justify-content: flex-start;
}
.modal .modal-body .d-flex > .form-group-left {
  width: 40%;
}
.modal .modal-body .d-flex > .form-group-right {
  width: 60%;
}
.modal .modal-body .d-flex > .form-group {
  width: 50%;
}
.modal .modal-body .d-flex > .form-group .d-flex {
  align-items: flex-end;
}
.modal .modal-body .resolve-label {
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 9px 17px;
  border-radius: 54px;
  border: none;
  color: #44bf89;
  background-color: #afeed3;
  cursor: pointer;
  transition: 0.3s linear all !important;
}
.modal .modal-body .resolve-label:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.modal footer {
  padding: 20px 12px;
}
.modal footer .d-flex {
  justify-content: flex-end;
}
.modal footer .d-flex > .button-space-left {
  margin: 0px 12px;
}
.modal footer .d-flex > .button-space-right {
  margin: 0px 12px;
}
.modal footer .d-flex .form {
  width: 100%;
}
.modal footer .d-flex .reset-btn {
  color: #fff;
  background-color: #f4365c;
  cursor: pointer;
}
.modal footer .d-flex .save-btn {
  color: #fff;
  background-color: #5e72e3;
  cursor: pointer;
}
.modal footer .d-flex .close-btn {
  color: #000;
  background-color: #f1f4f7;
  cursor: pointer;
  border: 1px solid #dfe9f3;
}

/************************
 Radio Button
 ***********************/
.radio-inline {
  margin-top: 17px;
  position: relative;
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  font-weight: 400;
  vertical-align: middle;
  cursor: pointer;
}

/**************
Date Input
***************/
input[type=date i],
input[type=file i] {
  padding: 11px !important;
}

/**************
Datatable Header Footer
***************/
.dataTables_wrapper .dataTables_length,
.dataTables_wrapper .dataTables_filter,
.dataTables_wrapper .dataTables_info,
.dataTables_wrapper .dataTables_processing,
.dataTables_wrapper .dataTables_paginate {
  color: #413173 !important;
  font-size: 13px;
  margin-bottom: 12px;
  font-weight: 500;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  color: #fbfbfb !important;
  border: 1px solid #d0c7c7 !important;
  background-color: #5e72e4;
  border-radius: 50%;
  background: #5e72e4 !important;
  padding: 4px 12px !important;
}
.dataTables_wrapper .dataTables_length select {
  color: #3d4992;
  border: 1px solid #3d4992;
}
.dataTables_wrapper .dataTables_length {
  float: right !important;
}
.dataTables_wrapper .dataTables_filter {
  margin-right: 36px;
}

/****************************
 Address Border in Popup
 *****************************/
.address-border {
  margin: 29px 0px;
  border-top: 1px solid #dee5ea;
}

.ticket-body {
  border-radius: 4px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
}
.ticket-body .ticket-box {
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1d354b;
  border-radius: 16px;
  padding: 20px 30px;
  box-sizing: border-box;
  color: #fff;
}
.ticket-body .ticket-box .d-flex {
  justify-content: space-between;
  /*profile */
  /*Ticket */
}
.ticket-body .ticket-box .d-flex .username {
  text-align: center;
}
.ticket-body .ticket-box .d-flex .username h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 7px;
}
.ticket-body .ticket-box .d-flex .user-name {
  display: inline-flex;
}
.ticket-body .ticket-box .d-flex .user-name > span {
  font-size: 25px;
  vertical-align: middle;
  margin-right: 5px;
}
.ticket-body .ticket-box .d-flex .user-name h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 7px;
}
.ticket-body .ticket-box .d-flex .user-name h1 span {
  font-size: 15px;
  line-height: 12px;
  display: block;
  color: #ddd;
  text-transform: uppercase;
}
.ticket-body .ticket-box .d-flex .start-learning {
  justify-content: flex-end;
}
.ticket-body .ticket-box .d-flex .start-learning h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  width: 135px;
}
.ticket-body .ticket-box .d-flex .start-learning .resolve-btn {
  font-size: 20px;
  font-weight: 600;
  padding: 9px 17px;
  border-radius: 54px;
  border: none;
  color: #fff;
  background-color: #64c0ab;
  cursor: pointer;
  transition: 0.3s linear all !important;
}
.ticket-body .ticket-box .d-flex .start-learning .resolve-btn:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.ticket-body .ticket-details {
  padding: 50px 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.ticket-body .ticket-details .d-flex .box-head {
  justify-content: flex-end;
}
.ticket-body .ticket-column {
  justify-content: space-between;
  align-items: stretch;
  margin-bottom: 20px;
}
.ticket-body .ticket-column .ticket-box-container {
  width: 48%;
  border-radius: 16px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.ticket-body .ticket-column .ticket-box-container .top-box {
  justify-content: space-between;
  background-color: #f4f4f6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  border-radius: 16px 16px 0px 0px;
  padding: 0px 35px;
  height: 85px;
}
.ticket-body .ticket-column .ticket-box-container .top-box h2 {
  font-size: 20px;
  text-transform: uppercase;
}
.ticket-body .ticket-column .ticket-box-container .top-box .fas {
  font-size: 20px;
  color: #fff;
}
.ticket-body .ticket-column .ticket-box-container .top-box .info-button {
  background-color: #f8c145;
  color: #000;
  text-decoration: none;
  border-radius: 18px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.3s linear all !important;
}
.ticket-body .ticket-column .ticket-box-container .top-box .info-button > span {
  font-size: 16px;
  vertical-align: middle;
  margin-right: 4px;
}
.ticket-body .ticket-column .ticket-box-container .top-box .info-button:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history {
  height: 172px;
  overflow-y: scroll;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-box {
  padding-left: 15px;
  position: relative;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-box::before {
  display: flex;
  justify-content: center;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  align-items: center;
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 100%;
  width: 34px;
  height: 34px;
  font-size: 17px;
  color: #1aaf6f;
  background: #b0efd4;
  z-index: 999;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content {
  height: 138px;
  position: relative;
  padding: 0px 0px 0px 35px;
  color: #314384;
  margin-left: auto;
  border-left: 2px dashed #ddd;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex {
  padding: 0px 0px 12px;
  justify-content: space-between;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex .assigned-btn {
  background-color: #fde6e0;
  color: #f00;
  text-decoration: none;
  border-radius: 18px;
  padding: 2px 12px;
  font-size: 12px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
  transition: 0.3s linear all !important;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex .assigned-btn:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex p {
  font-size: 14px;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content h3 {
  font-size: 17px;
  font-weight: 600;
}
.ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content h5 {
  font-size: 14px;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes {
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details {
  width: 100%;
  padding: 2px;
  margin-bottom: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .heading {
  width: 40%;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .content {
  width: 60%;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h2 {
  font-size: 19px;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h3 {
  color: #314384;
  font-weight: 600;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h3 > span {
  font-size: 22px;
  vertical-align: middle;
  margin-right: 9px;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h4 {
  font-size: 17px;
  color: #314384;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h5 {
  font-weight: 500;
  font-size: 17px;
  color: #3e3e77;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .fas {
  margin-right: 7px;
  color: #5e72e3;
}
.ticket-body .ticket-column .ticket-box-container .inner-boxes .assigned-head {
  border-top: 1px solid #ddd;
}

/************** Profile **************/
.profile-body {
  border-radius: 4px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
}
.profile-body h3 {
  font-size: 19px;
  color: #1d354b;
  font-weight: 500;
}
.profile-body .profile-box {
  justify-content: space-between;
  align-items: flex-start;
  background-color: #1d354b;
  border-radius: 16px;
  padding: 7px 4px;
  box-sizing: border-box;
  color: #ddd;
  position: relative;
}
.profile-body .profile-box .icon-btn {
  right: 16px;
  position: absolute;
  top: 16px;
}
.profile-body .profile-box .d-flex {
  position: relative;
  justify-content: flex-end;
  /*profile */
}
.profile-body .profile-box .d-flex .username {
  width: 20%;
  text-align: center;
}
.profile-body .profile-box .d-flex .username img {
  width: 112px;
}
.profile-body .profile-box .d-flex .username h1 {
  font-size: 24px;
  line-height: 34px;
  font-weight: 500;
  margin-left: 12px;
  margin-top: 7px;
}
.profile-body .profile-box .d-flex .profile-text {
  padding: 0px 22px;
  width: 76%;
}
.profile-body .profile-box .d-flex .profile-text img {
  width: 36px;
  margin-right: 10px;
}
.profile-body .profile-box .d-flex .profile-text .d-flex {
  justify-content: space-between;
}
.profile-body .profile-box .d-flex .profile-text .d-flex .text {
  width: 50%;
  display: inline-flex;
  margin-bottom: 20px;
}
.profile-body .profile-box .d-flex .profile-text .d-flex .text h2 {
  padding-top: 7px;
  font-size: 14px;
}
.profile-body .profile-box .d-flex .profile-text .profile-name {
  padding: 40px 0px;
}
.profile-body .profile-box .d-flex .profile-text .profile-name .d-flex {
  justify-content: space-between;
}
.profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text {
  display: inline-flex;
  width: 39%;
}
.profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text img {
  width: auto;
}
.profile-body .ticket-details {
  padding: 50px 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.profile-body .ticket-details .d-flex .box-head {
  justify-content: flex-end;
}
.profile-body .ticket-column {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.profile-body .ticket-column .ticket-box-container {
  width: 48%;
  border-radius: 16px;
  margin-bottom: 20px;
}
.profile-body .ticket-column .ticket-box-container .top-box {
  justify-content: space-between;
  background-color: #f4f4f6;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #000;
  border-radius: 16px 16px 0px 0px;
  padding: 26px 35px;
}
.profile-body .ticket-column .ticket-box-container .top-box h2 {
  font-size: 20px;
}
.profile-body .ticket-column .ticket-box-container .top-box .fas {
  font-size: 20px;
  color: #000;
}
.profile-body .ticket-column .ticket-box-container .top-box .info-button {
  background-color: #f8c145;
  color: #000;
  text-decoration: none;
  border-radius: 18px;
  padding: 7px 12px;
  font-size: 14px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 10px;
}
.profile-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content {
  position: relative;
  padding: 12px 20px;
  margin-left: auto;
  border-bottom: 1px solid #ddd;
}
.profile-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex {
  justify-content: space-between;
}
.profile-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex .assigned-btn {
  background-color: #fde6e0;
  color: #f00;
  text-decoration: none;
  border-radius: 18px;
  padding: 2px 12px;
  font-size: 12px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 10px;
  text-transform: uppercase;
}
.profile-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content .d-flex p {
  font-size: 14px;
}
.profile-body .ticket-column .ticket-box-container .inner-boxes {
  justify-content: space-between;
  align-items: stretch;
  padding: 20px;
}
.profile-body .ticket-column .ticket-box-container .inner-boxes .fas {
  font-size: 17px;
  margin-right: 7px;
}
.profile-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details {
  width: 100%;
  padding: 2px;
  margin-bottom: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
}
.profile-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .heading {
  width: 40%;
}
.profile-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .content {
  width: 60%;
}
.profile-body .ticket-column .ticket-box-container .inner-boxes .assigned-head {
  border-top: 1px solid #ddd;
}
.profile-body .ticket-column .ticket-box-container .profile-experience .d-flex {
  padding: 12px 0px 0px;
}
.profile-body .ticket-column .ticket-box-container .profile-experience .fas {
  color: #ef756a;
}
.profile-body .ticket-column .ticket-box-container .profile-experience h5 {
  font-size: 17px;
  color: #000;
}
.profile-body .ticket-column .ticket-box-container .profile-experience p {
  font-size: 15px;
}
.profile-body .ticket-column .ticket-box-container .profile-experience p span {
  font-size: 12px;
}
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex {
  position: relative;
}
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex .left {
  width: 80%;
}
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex .left h5 {
  font-size: 13px;
}
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex .right {
  width: 17%;
}
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex p {
  margin-bottom: 11px;
}
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex h5 {
  font-size: 11px;
  margin-bottom: 8px;
}
.profile-body .ticket-column .ticket-box-container .profile-education .fas {
  margin-left: -23px;
  position: absolute;
  color: #545dac;
}

/****************************
Media Query
 *****************************/
@media (min-device-width: 320px) and (max-device-width: 700px) {
  .modal header {
    width: 100%;
  }
  .modal header h3 {
    width: 100%;
  }
  .modal .modal-body .d-flex .form-group,
.modal .modal-body .d-flex .form-group-left,
.modal .modal-body .d-flex .form-group-right {
    width: 100%;
  }

  .dataTables_wrapper .dataTables_filter input {
    width: 45%;
  }

  .page-name {
    /*margin-bottom: 20px;*/
  }

  .payment-type {
    margin-top: 8px;
  }

  .support ul li:last-child {
    padding: 8px 8px;
    width: 18px;
    top: 0px;
    right: 11px;
    position: inherit;
  }

  .profile-box .icon-btn {
    right: 18px;
    top: 16px;
  }

  .profile-body .ticket-details {
    padding: 50px 0px;
  }
  .profile-body .ticket-column .ticket-box-container .top-box h2 {
    font-size: 17px;
  }
  .profile-body .ticket-column .ticket-box-container .profile-experience h5 {
    font-size: 12px !important;
  }
  .profile-body .ticket-column .ticket-box-container .profile-education .d-flex .right,
.profile-body .ticket-column .ticket-box-container .profile-education .d-flex .left {
    width: 100% !important;
  }
  .profile-body .profile-box .d-flex .username {
    width: 94% !important;
  }
  .profile-body .profile-box .d-flex .profile-text {
    padding: 8px !important;
    width: 94%;
  }
  .profile-body .profile-box .d-flex .profile-text .d-flex .text {
    width: 100% !important;
  }
  .profile-body .profile-box .d-flex .profile-text .profile-name .d-flex .profile-name-text {
    width: 100%;
  }
  .profile-body .ticket-column .ticket-box-container {
    width: 100% !important;
  }

  .ticket-body .ticket-details {
    padding: 50px 0px;
  }
  .ticket-body .ticket-box .d-flex .start-learning {
    padding-top: 19px !important;
  }
  .ticket-body .ticket-box .d-flex .start-learning h2 {
    width: 111px;
    font-size: 15px !important;
  }
  .ticket-body .ticket-box .d-flex .start-learning .resolve-btn {
    font-size: 11px !important;
  }
  .ticket-body .ticket-box .d-flex .user-name img {
    height: 47px;
  }
  .ticket-body .ticket-box .d-flex .user-name h1 {
    line-height: 21px;
    font-size: 15px !important;
  }
  .ticket-body .ticket-column .ticket-box-container {
    width: 100% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box {
    padding: 26px 11px;
    justify-content: space-between;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box .info-button {
    font-size: 11px !important;
  }
  .ticket-body .ticket-column .ticket-box-container .top-box h2 {
    font-size: 16px !important;
  }
  .ticket-body .ticket-column .ticket-box-container .ticket-history .ticket-history-content {
    height: 169px;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .heading {
    width: 47% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details .content {
    width: 53% !important;
  }
  .ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h3,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h2,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h5,
.ticket-body .ticket-column .ticket-box-container .inner-boxes .ticket-box-details h4 {
    font-size: 13px !important;
  }
}
.no-shodow {
  box-shadow: none !important;
}

progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  border: none;
  width: 100px;
  height: 4px;
  background: #e8e8eb;
}

progress::-webkit-progress-value {
  background-color: #993d90;
  border-radius: 4px;
}

progress::-moz-progress-value {
  background-color: #993d90;
  border-radius: 4px;
}

progress::-moz-progress-bar {
  background: #e8e8eb;
  border-radius: 4px;
}

progress::-webkit-progress-bar {
  background: #e8e8eb;
  border-radius: 4px;
}

/* Stylesheet for Custom Elements */
/* Main Stylesheet */
.support .contact-to-support .message-box .message-btn, .support .add-ticket, .dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .pay-btn, .dashboard-top-bpx .course-details-panel .notification-item .notification .date-info .complete-btn, .dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .message-box .message-btn {
  font-size: 14px;
  color: #fff;
  border-radius: 50px;
  padding: 2px 10px;
  text-decoration: none;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1.6;
  font-family: "Montserrat";
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.d-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

/****************************
 Common 
 ***************************/
.full-body-width {
  -ms-width: calc(100% - 110px);
  width: calc(100% - 110px);
  margin-left: 110px;
  padding: 0 60px;
  box-sizing: border-box;
  background-color: #fff;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 100vh;
  overflow-y: auto;
  display: block;
}
.full-body-width .side-bar {
  position: absolute;
  top: 0;
  left: 0;
  background: #f7f9fa;
  height: 100vh;
  overflow-y: auto;
  /* width */
  /* Track */
  /* Handle */
  /* Handle on hover */
}
.full-body-width .side-bar::-webkit-scrollbar {
  width: 3px;
}
.full-body-width .side-bar::-webkit-scrollbar-track {
  background: #f7f9fa;
}
.full-body-width .side-bar::-webkit-scrollbar-thumb {
  background: #f7f9fa;
}
.full-body-width .side-bar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.horizontal-tab .tab-box {
  justify-content: flex-start;
  border-bottom: 1px solid #cfa4cb;
  margin-bottom: 30px;
}
.horizontal-tab .tab-box .tab-list {
  padding: 4px 20px;
  border-bottom: 4px solid transparent;
  cursor: pointer;
  font-size: 20px;
  color: #0e0f22;
  margin-right: 20px;
}
.horizontal-tab .tab-box .tab-list.active, .horizontal-tab .tab-box .tab-list:hover {
  border-bottom: 4px solid #993d90;
}
.horizontal-tab .tab-box::-webkit-scrollbar {
  height: 0;
  width: 0;
}
.horizontal-tab .subject-selection-box {
  display: none;
}
.horizontal-tab .subject-selection-box.active {
  display: block;
}

.two-column {
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 20px;
}
.two-column .dashboard-box-container {
  width: 48%;
  border-radius: 16px;
  margin-bottom: 20px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.two-column .dashboard-box-container .top-box {
  justify-content: flex-start;
  background-color: #441b40;
  height: 100px;
  box-sizing: border-box;
  color: #fff;
  border-radius: 16px;
  padding: 18px 35px;
}
.two-column .dashboard-box-container .top-box h2 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.two-column .dashboard-box-container .top-box h2 img {
  vertical-align: middle;
  margin-right: 20px;
}
.two-column .dashboard-box-container .top-box h2 > span {
  font-size: 32px;
  margin-right: 14px;
  vertical-align: middle;
}
.two-column .dashboard-box-container .inner-boxes {
  height: 172px;
  overflow-y: scroll;
  padding: 20px;
}

/* width */
::-ms-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-ms-scrollbar-track {
  background: #f7f9fa;
}

/* Handle */
::-ms-scrollbar-thumb {
  background: #993d90;
}

/* Handle on hover */
::-ms-scrollbar-thumb:hover {
  background: #555;
}

/* width */
::-moz-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-moz-scrollbar-track {
  background: #f7f9fa;
}

/* Handle */
::-moz-scrollbar-thumb {
  background: #993d90;
}

/* Handle on hover */
::-moz-scrollbar-thumb:hover {
  background: #555;
}

/* width */
::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7f9fa;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #993d90;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/****************************
 Navigation
 *****************************/
.side-bar {
  padding: 15px 0 15px 15px;
  box-sizing: border-box;
  background-color: #f7f9fa;
  width: 110px;
  box-sizing: border-box;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
  transition-property: width;
  z-index: 9;
}
.side-bar .logo a {
  margin-bottom: 25px;
  display: block;
  text-decoration: none;
  overflow: hidden;
  height: 80px;
}
.side-bar .logo a img {
  width: 80px;
  height: 80px;
  vertical-align: middle;
}
.side-bar .logo a .university-name {
  margin-left: 20px;
  font-size: 24px;
  line-height: 30px;
  color: #0e0f22;
  width: 0px;
  transition-property: width;
  overflow: hidden;
  display: none;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.side-bar .menu-bar li a {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 20px;
  text-decoration: none;
  padding-left: 15px;
  color: #0e0f22;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 52px;
  box-sizing: border-box;
}
.side-bar .menu-bar li a .menu-icon {
  width: 52px;
  height: 52px;
  background-color: #fff;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #993d90;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.side-bar .menu-bar li a .menu-text {
  margin-left: 20px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  overflow: hidden;
  width: 0;
  transition-property: width;
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
.side-bar .menu-bar li a:hover .menu-icon {
  background-color: #993d90;
  color: #fff;
}
.side-bar .menu-bar li a:hover .menu-icon img {
  filter: brightness(10);
}
.side-bar .menu-bar li.active a .menu-icon {
  background-color: #993d90;
  color: #fff;
}
.side-bar .menu-bar li.active a .menu-icon img {
  filter: brightness(10);
}
.side-bar:hover {
  width: 370px;
  border-radius: 0 16px 16px 0;
}
.side-bar:hover .logo a .university-name {
  width: auto;
  display: inline-block;
}
.side-bar:hover .menu-bar li a .menu-text {
  width: auto;
}

/****************************
Header
****************************/
.mobile-logo,
.mobile-hamburger {
  display: none;
}

header {
  padding-top: 15px;
  margin-bottom: 50px;
}
header .d-flex {
  justify-content: space-between;
}
header .header-left.d-flex .fit-to-screen {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  background-color: #f8fafb;
  color: #993d90;
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
  transition: 0.3s linear all !important;
  padding: 4px 10px;
  box-sizing: border-box;
}
header .header-left.d-flex .fit-to-screen:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
header .header-left.d-flex .fit-to-screen a {
  display: block;
  text-decoration: none;
  width: 48px;
  height: 48px;
  color: #993d90;
}
header .header-left.d-flex .search-bar .search-input {
  width: 195px;
  height: 48px;
  border-radius: 16px;
  border: none;
  padding-left: 10px;
  background-color: #f4f4f6;
  font-size: 16px;
  color: #4a4c5d;
}
header .header-left.d-flex .search-bar .search-input:focus {
  outline: none;
}
header .header-right.d-flex .header-icon {
  width: 48px;
  height: 48px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8fafb;
  margin-left: 30px;
  cursor: pointer;
  font-size: 30px;
  color: #993d90;
  transition: 0.3s linear all !important;
  box-sizing: border-box;
}
header .header-right.d-flex .header-icon:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
header .header-right.d-flex .header-icon a {
  display: block;
  text-decoration: none;
  color: #993d90;
  line-height: 30px;
  width: 30px;
}
header .header-right.d-flex .header-icon a .fas.fa-headset {
  font-size: 26px;
}
header .header-right.d-flex .user-details {
  background-color: #f8fafb;
  margin-left: 30px;
  border-radius: 16px;
  padding: 0 10px 0 0;
  cursor: pointer;
  transition: 0.3s linear all !important;
}
header .header-right.d-flex .user-details a {
  color: inherit;
  text-decoration: none;
}
header .header-right.d-flex .user-details:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
header .header-right.d-flex .user-details img {
  vertical-align: middle;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  object-fit: cover;
  object-position: center;
}
header .header-right.d-flex .logout {
  margin-left: 30px;
  cursor: pointer;
  width: 48px;
  height: 48px;
  border-radius: 16px;
  transition: 0.3s linear all !important;
  font-size: 30px;
  padding: 4px 10px;
  box-sizing: border-box;
}
header .header-right.d-flex .logout:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
header .header-right.d-flex .logout a {
  display: block;
  text-decoration: none;
  width: 48px;
  height: 48px;
  color: #993d90;
}

/**************************
Dashboard
**************************/
.user-details-panel .d-flex {
  justify-content: space-between;
}
.user-details-panel .d-flex .user-name h1 {
  color: #441b40;
  font-size: 28px;
  line-height: 34px;
}
.user-details-panel .d-flex .user-name h1 span {
  font-size: 22px;
  line-height: 28px;
  display: block;
}
.user-details-panel .d-flex .start-learning {
  justify-content: flex-end;
}
.user-details-panel .d-flex .start-learning h2 {
  font-size: 22px;
  line-height: 28px;
  color: #0e0f22;
  width: 100px;
}
.user-details-panel .d-flex .start-learning .continue-learning-box {
  width: 70px;
  height: 70px;
  border-radius: 16px;
  background-color: #993d90;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
  font-size: 35px;
  color: #fff;
}
.user-details-panel .d-flex .start-learning p {
  width: 100%;
  font-size: 14px;
  color: #0e0f22;
  text-align: right;
  margin-top: 10px;
}

.dashboard-top-bpx .collapse-button {
  opacity: 0;
}
.dashboard-top-bpx .your-course {
  font-size: 22px;
  color: #0e0f22;
}
.dashboard-top-bpx .course-details {
  justify-content: space-between;
  align-items: flex-start;
  background-color: #b1113e;
  border-radius: 16px;
  padding: 20px 30px;
  box-sizing: border-box;
  color: #fff;
}
.dashboard-top-bpx .course-details .bor {
  border-left: 1px solid #b82157;
  border-right: 1px solid #b82157;
  width: 300px;
  padding: 0 20px 0 30px;
}
.dashboard-top-bpx .course-details .course-name {
  box-sizing: border-box;
  min-width: 300px;
}
.dashboard-top-bpx .course-details .course-name .course-details-name h2 {
  font-size: 22px;
  max-width: 280px;
}
.dashboard-top-bpx .course-details .course-name .couese-student-name h2 {
  font-size: 14px;
  font-weight: 600;
  line-height: 30px;
}
.dashboard-top-bpx .course-details .course-name .couese-student-name h2 span {
  font-size: 22px;
  display: inline-block;
  font-weight: 600;
}
.dashboard-top-bpx .course-details-panel {
  padding: 50px 25px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dashboard-top-bpx .course-details-panel .inner-boxes {
  justify-content: space-between;
  align-items: stretch;
}
.dashboard-top-bpx .course-details-panel .semester-status {
  -webkit-box-shadow: 5px 0px 10px rgba(161, 159, 161, 0.57);
  box-shadow: 5px 0px 10px rgba(161, 159, 161, 0.57);
  width: 100%;
  padding: 18px;
  border-radius: 16px;
  margin-bottom: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s linear all !important;
}
.dashboard-top-bpx .course-details-panel .semester-status:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
  z-index: 3;
}
.dashboard-top-bpx .course-details-panel .semester-status h3 img {
  vertical-align: middle;
}
.dashboard-top-bpx .course-details-panel .semester-status h3 > span {
  font-size: 26px;
  margin-right: 4px;
  vertical-align: middle;
}
.dashboard-top-bpx .course-details-panel .dash-support .tickets {
  background-color: #f8c145;
  border-radius: 16px;
  padding: 15px;
  box-sizing: border-box;
  color: #0e0f22;
  text-transform: uppercase;
  width: 55%;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.dashboard-top-bpx .course-details-panel .dash-support .tickets h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #0e0f22;
}
.dashboard-top-bpx .course-details-panel .dash-support .tickets .progess-bar {
  width: 100%;
  margin-bottom: 10px;
}
.dashboard-top-bpx .course-details-panel .dash-support .tickets .semester-points {
  justify-content: space-between;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.dashboard-top-bpx .course-details-panel .dash-support .tickets .semester-points span {
  display: block;
  font-size: 16px;
  line-height: 22px;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support {
  background-color: #fbfbfb;
  border-radius: 16px;
  padding: 10px;
  box-sizing: border-box;
  color: #0e0f22;
  width: 43%;
  align-items: stretch;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .contact-status {
  justify-content: space-between;
  margin-bottom: 15px;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .contact-status .profile {
  background-color: #bbb8b8;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .contact-status .profile span {
  color: #0e0f22;
  font-size: 26px;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .contact-status .status span {
  color: #027e0e;
  font-size: 12px;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .contact-persone-name {
  font-size: 20px;
  line-height: 26px;
  color: #0e0f22;
  margin-bottom: 5px;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .contact-persone-post {
  font-size: 14px;
  line-height: 17px;
  color: #0e0f22;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .message-box {
  justify-content: flex-end;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .message-box .message-btn {
  background-color: #0e0f22;
  color: #fff;
  font-size: 14px;
  transition: 0.3s linear all !important;
}
.dashboard-top-bpx .course-details-panel .dash-support .contact-to-support .message-box .message-btn:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification {
  -webkit-box-shadow: 5px 0px 10px rgba(153, 61, 144, 0.57);
  box-shadow: 5px 0px 10px rgba(153, 61, 144, 0.57);
  width: 100%;
  padding: 18px;
  border-radius: 16px;
  margin-bottom: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  overflow: hidden;
  cursor: pointer;
  transition: 0.3s linear all !important;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification h3 {
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 5px;
  color: #0e0f22;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification h3 strong {
  font-weight: 600;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification h3 img {
  vertical-align: middle;
  margin-right: 10px;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification h3 > span {
  font-size: 25px;
  color: #993d90;
  margin-right: 4px;
  vertical-align: middle;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification .date-info {
  justify-content: flex-end;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification .date-info .date {
  font-size: 14px;
  line-height: 20px;
  color: #0e0f22;
  margin-right: 20px;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification .date-info .complete-btn {
  background-color: #b1113e;
  color: #fff;
  transition: 0.3s linear all !important;
}
.dashboard-top-bpx .course-details-panel .notification-item .notification .date-info .complete-btn:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee {
  background-color: #f8c145;
  border-radius: 16px;
  padding: 15px;
  box-sizing: border-box;
  color: #0e0f22;
  text-transform: uppercase;
  width: 58%;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee h3 {
  margin-bottom: 20px;
  font-size: 20px;
  color: #0e0f22;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee .progess-bar {
  width: 100%;
  margin-bottom: 25px;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee .semester-points {
  justify-content: space-between;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .course-fee .semester-points span {
  display: block;
  font-size: 12px;
  line-height: 22px;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment {
  background-color: #b1113e;
  border-radius: 16px;
  padding: 10px;
  box-sizing: border-box;
  color: #0e0f22;
  width: 40%;
  color: #fff;
  align-items: stretch;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.6);
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment h3 {
  margin-bottom: 20px;
  font-size: 20px;
  text-transform: uppercase;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .payment-amount {
  font-size: 28px;
  line-height: 34px;
  color: #f8c145;
  font-weight: 600;
  margin-bottom: 5px;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .pay-btn {
  background-color: #f8c145;
  font-size: 14px;
  font-weight: 600;
  padding: 2px 14px;
  margin-bottom: 10px;
  transition: 0.3s linear all !important;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .pay-btn:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}
.dashboard-top-bpx .course-details-panel .dash-fee-payment .due-payment .due-date {
  font-size: 12px;
  font-weight: 600;
}

.table-container {
  position: relative;
  padding: 13px 11px;
  border-radius: 4px;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.table-container h3 {
  font-size: 15px;
  font-weight: 600;
  color: #41419e;
  margin-top: 8px;
  margin-bottom: 7px;
}
.table-container h4 {
  position: relative;
  font-size: 15px;
  font-weight: 600;
  color: #41419e;
  margin-top: 8px;
  margin-bottom: 7px;
}

.top-box-container,
.table-container {
  border-radius: 16px;
  margin-bottom: 45px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.top-box-container .top-box,
.table-container .top-box {
  justify-content: space-between;
  background-color: #441b40;
  color: #fff;
  border-radius: 16px;
  padding: 18px 35px;
  height: 86px;
  box-sizing: border-box;
}
.top-box-container .top-box h2,
.table-container .top-box h2 {
  font-size: 24px;
  line-height: 20px;
  font-weight: 600;
}
.top-box-container .top-box h2 img,
.table-container .top-box h2 img {
  vertical-align: middle;
  margin-right: 20px;
}
.top-box-container .top-box h2 > span,
.table-container .top-box h2 > span {
  font-size: 30px;
  margin-right: 10px;
  vertical-align: middle;
}
.top-box-container .top-box .payment-type p,
.table-container .top-box .payment-type p {
  font-size: 20px;
  line-height: 26px;
}
.top-box-container .top-box .payment-type p span,
.table-container .top-box .payment-type p span {
  font-size: 24px;
  display: block;
  font-weight: 600;
}
.top-box-container .inner-boxes,
.table-container .inner-boxes {
  justify-content: space-between;
  padding: 20px 30px;
  align-items: stretch;
  box-sizing: border-box;
}
.top-box-container .inner-boxes .left-box,
.table-container .inner-boxes .left-box {
  background-color: #f8c145;
  border-radius: 16px;
  padding: 20px;
  box-sizing: border-box;
  color: #0e0f22;
  text-transform: uppercase;
  width: 35%;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.top-box-container .inner-boxes .left-box .select-sem,
.table-container .inner-boxes .left-box .select-sem {
  background-color: transparent;
  color: #0e0f22;
  font-size: 20px;
  border: none;
  font-weight: normal;
  display: block;
  font-family: "Montserrat";
  -webkit-appearance: none;
  background-image: url(../../img/arrow-down.png);
  background-position: center right;
  background-repeat: no-repeat;
  width: 170px;
  margin-bottom: 15px;
}
.top-box-container .inner-boxes .left-box .select-sem:focus,
.table-container .inner-boxes .left-box .select-sem:focus {
  outline: none;
}
.top-box-container .inner-boxes .left-box .select-sem option,
.table-container .inner-boxes .left-box .select-sem option {
  font-size: 14px;
  padding: 4px;
}
.top-box-container .inner-boxes .left-box h3,
.table-container .inner-boxes .left-box h3 {
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 20px;
  color: #0e0f22;
}
.top-box-container .inner-boxes .left-box .progess-bar,
.table-container .inner-boxes .left-box .progess-bar {
  width: 100%;
  margin-bottom: 15px;
  height: 8px;
}
.top-box-container .inner-boxes .left-box .semester-points,
.table-container .inner-boxes .left-box .semester-points {
  justify-content: space-between;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.top-box-container .inner-boxes .left-box .semester-points span,
.table-container .inner-boxes .left-box .semester-points span {
  display: block;
  font-size: 16px;
  line-height: 22px;
}
.top-box-container .inner-boxes .right-box,
.table-container .inner-boxes .right-box {
  background-color: #b1113e;
  border-radius: 16px;
  padding: 20px;
  color: #fff;
  box-sizing: border-box;
  width: 62%;
  justify-content: space-between;
  align-items: flex-start;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.top-box-container .inner-boxes .right-box .upcoming-info,
.table-container .inner-boxes .right-box .upcoming-info {
  width: 45%;
}
.top-box-container .inner-boxes .right-box .upcoming-info .info-heading,
.table-container .inner-boxes .right-box .upcoming-info .info-heading {
  font-size: 20px;
  line-height: 26px;
}
.top-box-container .inner-boxes .right-box .upcoming-info .mb-20,
.table-container .inner-boxes .right-box .upcoming-info .mb-20 {
  margin-bottom: 20px;
}
.top-box-container .inner-boxes .right-box .upcoming-info .mb-10,
.table-container .inner-boxes .right-box .upcoming-info .mb-10 {
  margin-bottom: 10px;
}
.top-box-container .inner-boxes .right-box .upcoming-info .info-Details,
.table-container .inner-boxes .right-box .upcoming-info .info-Details {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
}
.top-box-container .inner-boxes .right-box .upcoming-info .info-discription,
.table-container .inner-boxes .right-box .upcoming-info .info-discription {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.top-box-container .inner-boxes .right-box .upcoming-info .info-discription strong,
.table-container .inner-boxes .right-box .upcoming-info .info-discription strong {
  font-weight: 600;
}
.top-box-container .inner-boxes .right-box .upcoming-dates,
.table-container .inner-boxes .right-box .upcoming-dates {
  width: 250px;
  text-align: center;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .info-heading,
.table-container .inner-boxes .right-box .upcoming-dates .info-heading {
  font-size: 20px;
  line-height: 26px;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .mt-20,
.table-container .inner-boxes .right-box .upcoming-dates .mt-20 {
  margin-top: 20px;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .mb-10,
.table-container .inner-boxes .right-box .upcoming-dates .mb-10 {
  margin-bottom: 10px;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .info-Details,
.table-container .inner-boxes .right-box .upcoming-dates .info-Details {
  font-size: 22px;
  line-height: 36px;
  font-weight: 600;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .info-discription,
.table-container .inner-boxes .right-box .upcoming-dates .info-discription {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .info-button,
.table-container .inner-boxes .right-box .upcoming-dates .info-button {
  background-color: #f8c145;
  color: #fff;
  text-decoration: none;
  border-radius: 18px;
  display: inline-block;
  padding: 7px 30px;
  font-size: 20px;
  line-height: 26px;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.3s linear all !important;
}
.top-box-container .inner-boxes .right-box .upcoming-dates .info-button:hover,
.table-container .inner-boxes .right-box .upcoming-dates .info-button:hover {
  box-shadow: 0 14px 24px rgba(0, 0, 0, 0.2) !important;
}

.payments .top-box-container {
  margin-bottom: 45px;
}
.payments .top-box-container .inner-boxes .right-box .upcoming-info .info-Details {
  font-size: 28px;
  line-height: 34px;
  margin: 40px 0 10px;
}
.payments .top-box-container .inner-boxes .right-box .upcoming-info .info-discription {
  font-size: 20px;
  line-height: 26px;
}
.payments .top-box-container .inner-boxes .right-box .upcoming-dates .emi-amount {
  margin-top: 20px;
  font-size: 36px;
  font-weight: 600;
  color: #f8c145;
}

.support .add-ticket {
  background-color: #f8c145;
  font-size: 20px;
  font-weight: 600;
  padding: 3px 20px;
  cursor: pointer;
}
.support .add-ticket:hover {
  background-color: #993d90;
  color: #fff;
  -webkit-box-shadow: 5px 0px 10px rgba(136, 129, 129, 0.6);
  box-shadow: 5px 0px 10px rgba(136, 129, 129, 0.6);
}
.support .tickets {
  background-color: #f8c145;
  border-radius: 16px;
  padding: 15px;
  box-sizing: border-box;
  color: #0e0f22;
  text-transform: uppercase;
  width: 55%;
  max-width: 380px;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.support .tickets h3 {
  margin-bottom: 10px;
  font-size: 20px;
  color: #0e0f22;
}
.support .tickets .progess-bar {
  width: 100%;
  margin-bottom: 10px;
  height: 8px;
}
.support .tickets .semester-points {
  justify-content: space-between;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
}
.support .tickets .semester-points span {
  display: block;
  font-size: 16px;
  line-height: 22px;
}
.support .contact-to-support {
  background-color: #fbfbfb;
  border-radius: 16px;
  padding: 10px;
  box-sizing: border-box;
  color: #0e0f22;
  width: 43%;
  max-width: 210px;
  align-items: stretch;
  -webkit-box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
  box-shadow: 0 33px 38px rgba(222, 222, 222, 0.3);
}
.support .contact-to-support .contact-status {
  justify-content: space-between;
  margin-bottom: 15px;
}
.support .contact-to-support .contact-status .profile {
  background-color: #bbb8b8;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.support .contact-to-support .contact-status .profile span {
  color: #0e0f22;
  font-size: 26px;
}
.support .contact-to-support .contact-status .status span {
  color: #027e0e;
  font-size: 12px;
}
.support .contact-to-support .contact-persone-name {
  font-size: 25px;
  line-height: 26px;
  color: #0e0f22;
  margin-bottom: 5px;
}
.support .contact-to-support .contact-persone-post {
  font-size: 14px;
  line-height: 17px;
  color: #0e0f22;
  margin-bottom: 10px;
}
.support .contact-to-support .message-box {
  justify-content: flex-end;
}
.support .contact-to-support .message-box .message-btn {
  background-color: #0e0f22;
  color: #fff;
  cursor: pointer;
}
.support .contact-to-support .message-box .message-btn:hover {
  background-color: #993d90;
  color: #fff;
  -webkit-box-shadow: 5px 0px 10px rgba(136, 129, 129, 0.6);
  box-shadow: 5px 0px 10px rgba(136, 129, 129, 0.6);
}

.pop-up-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.329);
  display: none;
  justify-content: center;
  align-items: center;
}
.pop-up-bg.active {
  display: flex;
}
.pop-up-bg .pop-up {
  z-index: 9999;
  display: none;
  max-height: 80vh;
  overflow-y: auto;
}
.pop-up-bg .pop-up-container {
  width: 80%;
}
.pop-up-bg .pop-up-container .modal header {
  margin-bottom: 10px !important;
}

textarea {
  resize: none !important;
}

/**********************
calendar
***********************/
.academic-calendar .top-box-gray {
  background-color: #f8fafb;
  padding: 22px;
  border-radius: 10px 10px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.academic-calendar .top-box-gray h2 {
  font-weight: 600;
  color: #0e0f22;
  font-size: 18px;
}
.academic-calendar .top-box-gray h2 img {
  vertical-align: middle;
  margin-right: 20px;
}
.academic-calendar .indication {
  width: 40%;
  background-color: #f8fafb;
  border-radius: 4px;
  position: relative;
}
.academic-calendar .indication ul {
  justify-content: space-between;
}
.academic-calendar .indication ul li {
  font-size: 12px;
  line-height: 20px;
  padding: 5px;
  list-style: none;
  width: fit-content;
}
.academic-calendar .indication ul li .mark {
  width: 20px;
  display: block;
  height: 6px;
  border-radius: 50px;
  margin-bottom: 3px;
}
.academic-calendar .indication ul li:nth-child(1) .mark {
  background-color: #b1113e;
}
.academic-calendar .indication ul li:nth-child(2) .mark {
  background-color: #993d90;
}
.academic-calendar .indication ul li:nth-child(3) .mark {
  background-color: #166302;
}
.academic-calendar .indication ul li:nth-child(4) .mark {
  background-color: #fcbb1e;
}
.academic-calendar .cal-section {
  justify-content: space-between;
  align-items: flex-start;
}
.academic-calendar #fccalendar {
  width: 75%;
}
.academic-calendar .indication .legends {
  width: 100%;
}
.academic-calendar #fccalendar {
  width: calc(100% - 150px);
  box-sizing: border-box;
}
.academic-calendar .fc-header-toolbar {
  background-color: #1e364c;
  padding: 25px 20px;
  border-radius: 16px;
  color: #fff;
}
.academic-calendar #fccalendar td {
  border-bottom: 1px solid #ddd !important;
}
.academic-calendar .fc-theme-standard th,
.academic-calendar .fc-col-header td {
  border: none !important;
}
.academic-calendar .fc .fc-scrollgrid-section > td {
  padding: 0 !important;
}
.academic-calendar #fccalendar td,
.academic-calendar #fccalendar th {
  border-top: none;
}
.academic-calendar .academic-calendar #fccalendar td {
  padding: 3px 7px !important;
}
.academic-calendar .fc-direction-ltr .fc-button-group > .fc-button {
  background-color: #f7f9fb;
  border-radius: 8px !important;
  margin-left: 10px !important;
  color: #1d354b;
  font-size: 18px;
  height: 45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.academic-calendar .fc-direction-ltr .fc-button-group > .fc-dayGridMonth-button,
.academic-calendar .fc-direction-ltr .fc-button-group > .fc-timeGridWeek-button,
.academic-calendar .fc-direction-ltr .fc-button-group > .fc-timeGridDay-button {
  width: auto;
}
.academic-calendar .fc .fc-button-primary {
  background-color: #f7f9fb;
  border-radius: 8px !important;
  margin-left: 10px !important;
  color: #1d354b;
  font-size: 18px;
}
.academic-calendar .fc-scroller-harness-liquid td,
.academic-calendar .fc-scroller-harness-liquid th {
  padding: 0 !important;
}
.academic-calendar .fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  position: relative;
  min-height: 0;
}

/*# sourceMappingURL=main.css.map */
